.switch-wrap p {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color: #eb7037;
  font-weight: bold;
}
.switch-wrap .switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  transform: translateY(50%);
  position: relative;
  top: -20px;
  margin-left: 10px;
}
.switch-wrap .switch .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}
.switch-wrap .switch .slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #eb7037;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: 0.4s;
}
.switch-wrap .switch .slider:after {
  position: absolute;
  content: "NO";
  width: 100%;
  height: 100%;
  color: #eb7037;
}
.switch-wrap .switch input {
  display: none;
}
.switch-wrap .switch input:checked + .slider:before {
  transform: translateX(30px);
  background: #fff;
}
.switch-wrap .switch input:checked + .slider:after {
  content: "";
}
.switch-wrap .switch input:checked + .slider {
  background: #eb7037;
}

/*# sourceMappingURL=transfer.css.map */
