// START EDIT OR UPDATE THIS FILE

img{max-width:100%;}

/* ------------------ a links --------------------- */
a {  transition:all .3s;  }
a:hover{text-decoration: none; color:$accent; transition:all .3s;  }
a:focus {   outline:none; text-decoration: none;}

/* ============ text styles and paragraph ==============  */
body, form {font-size:14px; font-family:'Roboto', Arial, Helvetica; }
p{padding:0px; margin:0; margin-bottom:10px;}
ol, ul, li{margin: 0; padding: 0; }
aside .panel p{margin-bottom:7px; color:$text-muted }

/* ================== heading texts ==================  */
h1,h2,h3,h4,h5,h6 {margin:0; font-weight:normal}


.section-heading{text-align:center; margin-bottom:0px;}
.section-title{font-size:36px; font-weight:400; color:$primary;
	span{color:$accent;}
}

.title-block{padding:15px; margin-bottom:15px; color:$primary; font-weight:500;}

.title-text{padding-bottom:10px; padding-top:15px; }
	.title-text:first-child{padding-top:0;}

/* ================== common sections ==================  */
.section-modify{ background-color:$bg;
	.inner-block{background-color:#d3e8e7; border-radius:0 0 10px 10px; padding:20px;}
}
.section-content{background-color:$bg; padding-top:30px; min-height:500px;}

input[type='text']{color:$primary2}

/* ================ heading separator ================ */
.separator{margin:20px 0; max-width:300px; display: inline-block; position: relative;
	i{color:$element;}
}
.separator::before, .separator::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid $element;
    top: 12px;
    width: 100px;
}
.separator::before{right:100%; margin-right: 15px;}
.separator::after{left:100%; margin-left: 15px;}

/* ================ Intro text ================ */
.intro-text-wrap{ color:#fff; text-align:center; margin-top:60px; text-shadow:0 0 7px rgba(#666, .5);
	.intro-title{font-size:32px; margin-bottom:15px; }
	.intro-lead{ font-size:18px; margin-bottom:15px;}
	i{font-size:42px;}
  .logo-wrap{background-color:#fff; padding:10px; border-radius:7px; text-align:center; 
    img{max-height:45px;}
  }
}

.spinner{width:40%;}

/* --------------------- blok ---------------------- */
.blok-header{padding:14px 15px; @include linearGradient($lightblue, #0899af); line-height:1.2; color:#fff; height:42px; border-radius:$radius-sm; margin-bottom:15px;
	a{color:rgba(#fff, .75)}
	.title{font-size:15px;}
	.pull-right{margin-top:-3px;}
  i{opacity: .5;}
}
a.blok-header:hover{@include linearGradient($accent2, $accent);  color:#fff}
.noresult{ color:#ccc; text-align:center; padding:30px;
	i{font-size:70px; }
	span{display:block; margin:15px;}

}

/* ---- scroll top btn ---- */
.topHome {position: fixed; color:#fff;  background-color:rgba(0,0,0,.3); padding:7px; bottom:1%;    left: 1%;z-index: 5;}

/* ---- fixed widget btn ---- */
.widget-contact{z-index:9999; box-shadow:0 0 7px rgba(0,0,0,.5);
position:fixed;  right:-300px; width:300px; top:46%; transform:translateY(-50%);
border:1px solid #ddd; background-color:#fff;
}
.widget-contact.active{ animation: movement 500ms; animation-fill-mode: forwards;}
.widget-contact.hidewidget{ animation: backmove 500ms;}
// .btn-widget-contact{box-shadow:0 0 7px rgba(0,0,0,.5); cursor:pointer;
// 	position:absolute; right:100%; top:0;
// 	padding:7px; height:40px; background-color:$primary2; color:#fff; border-radius:6px 0 0 6px;
// }
.btn-widget-contact{box-shadow:0 0 7px rgba(0,0,0,.5); cursor:pointer; text-align:center;
  position:absolute; right:338px; top:0px; transform-origin: 100% 0%;
  padding:7px 15px;  height:40px; white-space:nowrap; background-color:$primary2; color:#fff; border-radius:6px 6px 0 0;
}

.widget-contact-body{padding:15px; position:relative}
@keyframes movement{
  from{right:-300px;}
  to{right:0px;}
}
@keyframes backmove{
  from{right:0px;}
  to{right:-300px;}
}


/* ---- fixed widget btn ---- */
.widget-feedback{z-index:9999; box-shadow:0 0 15px rgba(0,0,0,.5); position:fixed;  left:-400px; width:400px; top:50%; transform:translateY(-50%); 
border:1px solid #ddd; background-color:#fff;
}
.widget-feedback.active{animation: movement_two 500ms; animation-fill-mode: forwards; }
.widget-feedback.hidewidget2{animation: backmove_two 500ms; animation-fill-mode: forwards; }

.btn-widget-feedback{box-shadow:0 0 7px rgba(0,0,0,.5); cursor:pointer; text-align:center;
	position:absolute; left:363px; top:280px;  transform-origin: 0% -90%;
	padding:7px 15px;  height:40px; white-space:nowrap; background-color:$primary2; color:#fff; border-radius:0 0 6px 6px;
}
.widget-feedback-body{padding:30px; position:relative}

@keyframes movement_two{
  from{left:-400px;}
  to{left:0px;}
}

@keyframes backmove_two{
  from{left:0px}
  to{left:-400px}
}

/* ---- widget subscribe ---- */
.widget-subscribe{color:#fff; overflow:hidden; position:fixed; bottom:30px; right:30px; width:500px; height:240px; z-index:85; border-radius:8px;
	background-color:$primary; padding:15px; box-shadow:0 0 45px  rgba(0,0,0,.3);
	
    transition: transform 1s;
    transform: translateX(120%); 
    -webkit-transform: translateX(120%); 

	.img-wrap{width:150px; float:left; position:relative;
		img{max-width:100%;}
	}
	.badge{width:50px; height:50px; border-radius:100%; background-color:red; position:absolute; top:0; left:0; font-size:15px; font-weight:bold; line-height:45px;}
	.text-wrap{margin-left:165px;}
	.title{font-size:16px; margin-bottom:15px; margin-top:10px; font-weight:500; }
	p{font-size:12px; text-transform:uppercase; opacity:.7; font-weight:500;}

	input.form-control{border:0;}
	.close{opacity:.5; color:#fff;
		&:hover{opacity:1;}
	}
	
}
.widget-subscribe.open{
	-webkit-transform: translateX(0%);
    transform: translateX(0%);
}


.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

/* ================== SECT-FEATURES ==================  */
.section-page-content{ padding-top:30px; }


/* ================== blog post listng ================ */
.post-list{margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid #ccc;
	.title{margin-bottom:10px;}
	.meta{padding-bottom:5px;}
	p {text-indent:0; padding:0;}
	.img-holder{overflow:hidden;text-align:center; float:left; margin-right:15px;}
	img{width:250px; height:180px; object-fit: cover; padding:2px; background-color: #FFF; border: 1px solid #ddd; }
}

/* ================== single article ================ */
.article{
	p{line-height:1.6; }
	img{vertical-align:baseline; margin-top:10px; margin-bottom:10px; background-color:#fff; padding:3px; }
	img[align='left'], img.pull-left{margin-right:15px;}
	img[align='right'], img.pull-right{margin-left:15px;}
	 // ul {margin:15px; }
	 // ul ul {margin:7px; margin-left:30px;}

	h2{font-size:28px;}
	h3{font-size:26px;}
	h4{font-size:22px;}
	h5{font-size:18px;}

	h1,h2,h3,h4,h5,h6{margin:10px 0;}
	ul{list-style: none; line-height:1.5; margin-left:30px;}
	ul li{ margin-bottom:10px;}
	ul li::before { text-align: center;
	  color: #fff; line-height: 22px; 
	    content: " ";
	    display: inline-block;
	    width: 10px;
	    height: 10px;
	    margin: 0px 18px 0px 0px;
	    margin-left:-30px;
	    background-color:$accent2;
	    border-radius: 50%;
	    vertical-align: middle;
	}
}

#overlay {
    background: #000 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:80;
}

/* ================== notify box ================ */
.notify-box{ box-shadow:0 0 100px rgba(#000, .6);min-height:50px; transform:translateX(-50%);
	max-width:60%; min-width:400px;  text-align:center; left:50%; bottom:0;  border-radius:10px 10px 0 0;
	background-color:#ccc; padding:10px; color:#fff;
	position:fixed; z-index:1001;
	p{margin-bottom:0px; font-size:16px; display:inline-block; }
  .inner{padding:10px;}
  i{opacity:.7; margin:0 7px;}
}
.notify-box.show-success{ background-color: #01b551;  
  animation-name: slideUp;
  animation-duration:.6s;
  animation-fill-mode: both;
}
.notify-box.show-error{background-color: #ef1010!important;
  animation-name: slideUp;
  animation-duration:.6s;
  animation-fill-mode: both;
}


@keyframes slideUp {
  from{
    transform: translate(-50%, 100%);
  }
  to{
    transform: translate(-50%, 0);
  }
}

/* ================== my tooltip ================ */
.mytip {
    display: block;
    font-size: 10pt;
    position: absolute;
    background-color: #333;
    border-radius:4px;
    padding: 2px 6px;
    color: #fff;
}

/* ------------------ main form validation --------------------- */
.form-group-wrap, .form-single-wrap{
  .form-group{margin:0;}
  .form-group.has-error{border:1px solid red; box-shadow:0 0 10px rgba(red, .7)}
}
.form-single-wrap{
  .form-group.has-error {
      border-radius:6px;
  }
}

.form-group-wrap{
  .form-group:first-child {
      border-radius:6px 6px 0 0;
  }
  .form-group:last-of-type {
      border-radius:0 0 6px 6px;
  }

  .date-wrap.form-group:first-child {
      border-radius:6px 0 0 6px;
  }
  .date-wrap.form-group:last-of-type {
      border-radius:0 6px 6px 0;
  }

}


/* google code iframe fixes */
iframe[name="google_conversion_frame"] {
    margin-top: -13px;
    float: left;
    height: 0px;
    width: 0px;
    line-height: 0;
    font-size: 0px;
}
