/* CAR FORM */
/* ================ section hotel-INTRO ==================  */
.section-intro-car{background-color:#7AD7C5; padding-top:80px; position:relative;
	background-image:url('../images/bg/bg-car.jpg'); background-size:cover; background-repeat:no-repeat; position:relative;  min-height:700px;
	.intro-text-wrap{margin-bottom:30px;}
}


.section-cars-main{padding-top:30px; background-color:$bg; background-image:url('../images/bg/bg-map.jpg'); background-repeat:repeat-x; background-position:center left;  border-bottom:1px solid #eee;
	.title{color:$primary; font-weight: bold;}
	.cars-white{margin-bottom:-30px;}
}

.form-group-wrap .same-location-check-wrap {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #fff;
    width: 90px;
    margin: 0;
  	span{
  		margin-top:-2px;
		line-height: 12px;
		font-size: 12px;
		width: 60px;
		display: block;
		float: right;
		padding-right: 10px;
		font-weight: normal;
		color: #666;
    }
}

/* CAR LISTING */

.block-logos-rental{ max-width:320px; margin-top:-80px;
	background-color:#fff; border-radius:15px; box-shadow:0 0 30px rgba(#aaa, .6);
	padding:45px; text-align:center;
	img{margin:5px;}
}

.item-car{box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
    min-height: 200px;
    background-color:#fff;
    border-radius: $radius;
    margin-bottom: 15px;
    .aside-left{box-shadow:2px 0 15px #f2f2f2; min-height: 275px;}
	.img-wrap{
		padding:10px;
		border-radius: 4px 0 0 4px; height:190px;  text-align: center;  overflow: hidden;
	    background-color: #fff;    position: relative;
	    img {max-height: 100%;   max-width: 100%; }
	}
	.info-wrap{	width: 65%;	}
	.text-wrap{ padding: 15px;}
	.order-wrap{ padding: 15px;}

	.price-wrap { text-align: center;
		.price-old{display:block; color:#ff4949; font-size:18px;}
	    .price{display:block;  	font-size: 22px;   font-weight: bold;   color: #113F6D;  }
	    .currency { font-size: 16px; color: #999; }
	}
	.title{margin-bottom:15px; font-weight:500; color:$primary}
	.part-top { height:40px; display: block; width: 100%;  margin-top:-15px;  text-align: center;
		span { display:inline-block; text-align:center; padding:3px 10px;   border-radius: 0 0 8px 8px; color: #fff; }
		span.badge-green{background-color: #40C84F; }
		span.badge-red{background-color: #ff6666;}
	}
	.car-main-info{border-right: 1px dashed #ccc; min-height: 240px;}
	small{font-weight:300;}
	.label-grey{font-size:13px;}
	.label-airport{padding:3px 6px; border:1px solid $accent; color:$accent; display:inline-block;  line-height:1.2; background-color:#eee;  border-radius:4px; font-size:13px;}



	.info-car-rental{ float:left; width:100%;  padding:0px 10px 0px 10px;
		p{margin:0;}
		.logo-rental{ 
			img{max-width:60px;}
			.text-dots{max-width: 65%}
		}
		.rating-wrap{margin-bottom:7px;}
	}

	
}

.icontext-car{ line-height:1.3;  background-color:#f2f2f2; padding:4px 6px; border-radius:4px; margin-bottom:4px;
		i{float:left; color:#00c700; font-size:20px;}
		.text{display:block; color:#999; overflow:hidden; padding-left:3px; }
	}

.list-inline-check{
	list-style: none;
	  li{padding-left:15px!important; margin-bottom:4px; margin-right:7px; font-size:12px; position:relative; display:inline-block }
	  li:before{
	    position:absolute; 
	    left:0;
	    font-size:11px;
	    content: "\f00c"; /* Unicode */
	    color:#00c700;
	    font-family: "FontAwesome";
	    display: inline-block;
	}
}
/* info car rental */
.info-car-rental{  margin-bottom:7px;
		img{margin-right:7px; max-width:60px; margin-top:3px;}
		line-height: 1.2;
		small{color:$text-muted}
}


/* car offer */
.car-offer{border: 2px solid #FF9800;
	.img-wrap{
		border-top-left-radius:0px;
	}
}

.car-offer-info {
    margin-bottom: 0;
    width: 100%;
    font-weight: 500;
    display: inline-block;
    padding: 5px 15px;
    background-color: #FF9800;
    color: #fff;
}
.car-highlight{border: 2px solid #40C84F;
	.img-wrap{
		border-top-left-radius:0px;
	}
}
.car-highlight-info {
    margin-bottom: 0;
    width: 100%;
    font-weight: 500;
    display: inline-block;
    padding: 5px 15px;
    background-color: #40C84F;
    color: #fff;
}


ul.list-car-option{ margin-bottom:10px;
	list-style:none; white-space:nowrap; overflow-x:hidden; color:$text;
	li{  height:20px; font-size:12px;
	     text-overflow: ellipsis;
	      white-space: nowrap;
	      overflow:hidden;
	      margin-bottom:5px;
	}
	img{margin-right:7px; max-height:19px;width:auto}
}


/* CAR OVERVIEW */
.car-overview-wrap{
	main{border-left:1px solid #eee}
	.title{margin-bottom:15px; font-weight:500; color:$primary}
	.list-car-option{margin-bottom:7px;}
}

.car-overview-mini{
	.img-wrap{height:110px;text-align:center;
		img{max-height:100%; width:auto;}
	}
	.title{margin-bottom:15px; font-weight:500; color:$text-muted}
	.list-car-option{margin-bottom:0;}
	p{margin:0;}
	.info-rental{
		img{margin-right:7px; max-width:60px; }
		small{color:$text-muted}
	}
	.item-user-overview{
		i{margin-bottom:10px;}
	}
}

.car-item-add{height:120px; margin-bottom:15px;
	border:1px solid #ddd; border-radius:$radius; padding:15px;
	.icon-wrap{float:left; margin:3px 20px 3px 7px;
		img{max-height:80px; width:auto}
	}
	.title{font-weight:500; margin-bottom:7px;}
	.text-wrap{float:left;}
	.checkbox{color:$accent; float:left; margin-top:5px; margin-right:20px;}
	.action-wrap{margin-top:10px}
	.qty-wrap{width:100px; float:left;
		input{ font-weight:bold}
	}
}
.car-item-add.active{border-color:$accent}
.car-item-add:not(.active) .qty-wrap{display:none}

.table-car-protection{
	.checkbox{margin:0;}
	small{color:$text-muted}
	width:100%;
	td{padding:5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #eee;
	}
}


/* cars rating popup */
.table-review{ border:2px solid #eee;
	.rating-total{background-color:#fff; border-left:2px solid #eee;}
	.rating-val{ color:$accent2; border-right:2px solid #ddd}
	.rating-high{color:$accent2; font-size:16px; font-weight:bold; border-right:2px solid $accent2}

	.rating-total{
		.text{font-weight:bold; color:$primary; font-size:16px;}
		.rating .text-lg{font-size:160%; font-weight:bold; color:$primary2}
	}
}

.item-comment-car{ margin-bottom:15px;
	.user{width:15%; float:left; text-align:center;
		i{width:40px; height:40px; margin-bottom:7px; border-radius:100%; display:inline-block; background-color:#ddd; color:#fff; text-align:center; line-height:40px; font-size:26px; margin-top:7px;}
		
	}
	.comment{  background-color:#fdfdfd;
	width:85%; float:left;
	position: relative;
    padding:10px;
    border: 1px solid $lightblue;
    border-radius:7px;
    p{ margin-bottom:3px;}
    .comment-header{ margin-bottom:7px; border-bottom:1px dotted #ddd; padding-bottom:7px;
    	span{display:inline-block; vertical-align:middle}
    	.badge{font-size:14px; padding:4px 7px; margin-left:3px;}
    }
		&:after, &:before {
			right: 100%;
			top:30px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #fff;
			border-width: 10px;
			margin-top: -10px;
		}
		&:before {
			border-color: rgba(221, 221, 221, 0);
			border-right-color: $lightblue;
			border-width: 11px;
			margin-top: -11px;
		}
	}
}

.modal-confirming.modal-car{background-image: url(../images/misc/city.png);
	.car{margin-top:30px;}
}

.supplier-info-aside{
	.title{display:block;
		.icon{width:20px}
	}
}


.car-booking-aside{
	p{ 
		i{width:18px; text-align:center; color:$element}
	}
	strong{color:$primary; font-weight:500}
	
	a{color:$accent}
}
