
////////// TOP DESTINATIONS
.section-intro-destination{background-color:$lightblue; padding-top:80px; position:relative;
	 background-size:cover; background-position:right; background-repeat:no-repeat; position:relative;  min-height:550px;
	 .tabs-wrap{margin-top:20px;}
}

.section-top-flight{
	padding:45px 0; box-shadow:inset 0 0 20px  rgba(#000,.3);
	.title{color:$primary; font-weight:bold}
}

.section-airlines{background-color:$bg; 
	.title{color:$primary; font-weight:bold; margin-bottom:20px;}
}
.wrap-airlines-destination{
	padding:30px 0;
}
.list-airlines{ list-style:none; 
	li a{background-color:#fff; display:block; text-align:center; border:1px solid #ddd; border-radius:4px; height:60px; overflow:hidden; padding:5px; display:block; margin-bottom:7px; }
	img{max-height:48px;}
}

.card-destination {position:relative;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
    background-color: #fff;
    margin-bottom: 30px;
    .title{color:$accent; margin-bottom:10px; font-weight:500;}
    .card__img-wrap { height: 180px; }
    .card__info { float: left; width: 100%; min-height:220px; overflow:hidden;}
}


.section-about-dest{padding:30px 0; background-color:$primary2; color:#fff;  
	.article { 
		.title{color:$accent2; margin-bottom:10px; }
	}
	.lead{font-size:18px;}
}

.img-bg-card{position:absolute; right:0; top:0; bottom:0; height: 100%; z-index:0}


.btn-img{display:block; transition:.5s; text-align:center;  margin-bottom:30px; font-size:18px; color:#fff; padding:15px;
	height:140px; border-radius:$radius; background-color:$accent;
	i{margin:10px; font-size:42px;}
	span{display:block}
	&:hover{color:#fff; text-shadow:0 0 10px rgba(#000, .7) }
}

.btn-car-bg{background-image:url(../images/bg/bg-btn-car.jpg); background-size:cover;}
.btn-hotel-bg{background-image:url(../images/bg/bg-btn-hotel.jpg); background-size:cover;}

.block-weather{padding:15px; color:#fff; background-color:$lightblue; background-image:url(../images/bg/bg-weather.jpg); background-size:cover; min-height:140px; border-radius:$radius;
	p{margin-top:10px;}
	i{font-size:18px;}
	span{display:block;}
	.deg{font-size:32px;}
	.day{}
}



