.section-pagetop{ @include linearGradient(#25c2da, #0e6192);  color:#fff; margin-top:71px;
	.row > div[class^='col']{ 
		padding:7px; padding-top:28px; min-height:93px 
		// border-left:1px solid rgba(#FFF, .3); border-right:1px solid rgba(30,70,120,0.4); 
	}
	// .row > div[class^='col']:first-child:before{
	// 	content:"";
	//     display:block;
	//     position:absolute;
	//     top:0px;
	//     left:-2px;
	//     bottom:0px;
	//     border-left:1px solid rgba(30,70,120,0.3);
	// }
	// .row > div[class^='col']:last-child:after{
	// 	content:"";
	//     display:block;
	//     position:absolute;
	//     top:0px;
	//     right:-2px;
	//     bottom:0px;
	//     border-right:1px solid rgba(#FFF, .25);
	// }
	.img-icon{height:18px; width:auto; opacity:.6}
	span{display:block}
	i{font-size:20px; color:rgba(255,255,255,.6);}
	.title{font-size:14px; color:rgba(255,255,255,.6);}
	.val{color:#fff; text-overflow: ellipsis; overflow:hidden; white-space: nowrap;	}
}
.item-info-destination{
	.img-icon{height:24px; width:auto;}
}

.loading-content{
	text-align:center;  color:$primary; padding:30px;
	background: none repeat scroll 0 0 rgba(245, 245, 245, 0.95); border-radius:6px;
    min-height:300px; height: 100%; position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 35;
	img{
		display: block;
	    margin: auto;
	    width: 150px;
	}
	.text1{margin-bottom:30px; font-size:28px; font-weight:500}
	.text2{font-size:18px; line-height:1.7}
	
}


.loader-placeholder{
	b{display: block; margin:10px; height:7px; background-color:#eee; animation:placeholder-animate .8s infinite; }
	b:last-child{width:80%}
}
.loader-stop b{animation:none!important;}
@keyframes placeholder-animate{
	0%{background-color:#eee}
	50%{background-color:#ccc}
	100%{background-color:#eee}
}

.item-info{position:relative;
	span{margin-left:28px;}
	i, .img-icon{position:absolute; top:-1px; left:0; }
}

.ticket-offer{border:2px solid $accent2}
.ticket-offer-info{
	margin-bottom:0;
	width:100%; font-weight:500;
	display:inline-block;
	padding: 5px 15px;
    background-color: $accent2;
    color: #fff;
    span{color:#A12F02}
}

.ticket-highlight{border:2px solid #40C84F}
.ticket-highlight-info{
	margin-bottom:0;
	width:100%; font-weight:500;
	display:inline-block;
	padding: 5px 15px;
    background-color: #40C84F;
    color: #fff;
}





.item-flight{
	background-color:#fff;  margin-bottom:15px; border-radius:$radius-sm; 
	box-shadow:0 1px 2px rgba(0,0,0,.1);
	.item-flight-left{border-right:1px dashed #999;  min-height: 170px; position:static;}

	.row-trip {
		> aside {position:static}
 		>[class*=col-]:last-child { min-height:100px}
 		&:not(:last-of-type){ border-bottom:1px solid $element;}
 		&:last-child{ border-bottom:0;}
	}
}
.ticket-overview { 
	.alert{ padding:5px 15px; margin:7px 15px 30px 15px;}
}
.item-details{ margin-bottom: 15px;}

.info-airline{padding:10px 7px;  text-align:center; color:$text-muted; font-size:12px;
	img{margin-bottom:7px; border-radius:7px;}
}
.airline-multi{
	img{max-width:40px; height:auto; display:inline-block; vertical-align:middle}
}

.info-stops{padding:15px 0px; margin-top:3px; color:$primary2;
	.place-wrap{float:left; width:35%;
		&:first-child{text-align:right}
		&:last-child{text-align:left}
	}
	.way-wrap{float:left; width:30%; padding:0 5px; text-align:center}
	.txt-stops{padding-top:7px; display:inline-block; cursor:pointer;}

	.code{display:inline-block; max-width:43px; overflow:hidden;  line-height:1}
	.city{display:inline-block; max-width:calc(100% - 48px); text-overflow: ellipsis;
      white-space: nowrap; cursor:default;
      overflow:hidden; line-height:1}
}

.nearby-airp{background-color:#fff1ab; padding:2px 2px; border-radius:4px; margin-bottom:-2px; }


.travel-stops{animation:increase 1.5s; position:relative; border-bottom:2px solid #888; height:1px; width:100%; display:block; text-align: center;
	.start, .end{ display:block; position:absolute; }
	.start{display:none; left:0; top:-3px; background-color:$accent2; width:7px;height:7px; border-radius:50%;  }
	.end{right:0; top:-6px; background-image:url('../images/icons/plane-listing.png'); background-size:cover; width:15px;height:14px;}
	.stop{top:-9px;  display:inline-block; position:relative; background-color:#999; margin:0 8px; width:9px;height:9px; border-radius:50%;}
}


@keyframes increase{
	from {width:10%}
    to {width:100%}
}

.info-duration{margin:15px; position:relative; padding-left:28px;
	i{color:$accent2; position:absolute; left:0; top:0;}
	.title{font-size:12px; color:$text-muted; display:block;}
	.time{font-size:14px; font-weight:500; padding-top:2px; display:inline-block}
}

.info-icons{margin: 7px 7px 7px 15px;
	.icon{width:26px; height:26px; border:1px solid $bg2; text-align:center; padding:1px; margin-right:2px; margin-bottom:2px; display:inline-block; background-color:$bg; border-radius:6px;}
}

.info-buy{padding:0 15px;
	.flight-offer{height:60px; margin:0; display:block; width:100%; overflow:hidden;}
	.flight-offer-aside{display:block; padding:10px; border-radius:0 0 $radius $radius;  background-color:#40C84F; color:#fff; }
	.txt-seat{color:$text-muted; text-align:center; margin:10px 0;}
	.ticket-price-wrap{ font-size:22px; font-weight:bold; text-align:center; color:$primary2;
		.currency{font-size: 16px; color:#999; }
		.price-new{font-size:20px; font-weight:bold; text-align:center; }
		.price-old{font-size:14px; text-decoration:line-through; color:red; font-weight:500; margin-bottom:0px; text-align:center;}
	}
	
}

.blink{
    -webkit-animation: color-change .8s infinite;
    -moz-animation: color-change .8s infinite;
    -o-animation: color-change .8s infinite;
    animation: color-change .8s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color:#FFD0D0; }
    100% { color: #EE0000; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color:#FFD0D0; }
    100% { color: #EE0000; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color:#FFD0D0; }
    100% { color: #EE0000; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color:#FFD0D0; }
    100% { color: #EE0000; }
}

/* ================ MORE DETAILS TICKET ================ */
.ticket-detail{background-color:#fff; box-shadow:0 1px 2px rgba(0,0,0,.1); border-radius:$radius-sm; 
	header{color:$primary; padding:7px 15px; border-bottom:1px solid $element; 
		.title{ display:inline-block; vertical-align:middle; line-height:3; text-indent:10px;	font-size:14px;
			b{color:$primary2; text-transform:uppercase;}
		}
		i{color:$accent2; font-size:32px; display:inline-block; vertical-align:middle}
		.alert-stops{padding:10px; float:right; font-weight:500; color:$text-muted}
	}
	.row-trip { 
 		>[class*=col-]:last-child {border-left:1px dashed $element; min-height:125px; }
	}
	.table{margin-bottom:7px;}
}

.ticket-detail:first-child{border-top-left-radius:0; border-top-right-radius:0;}

.divider-ticket{ display:block; height:3px;  background-color:#fff;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAIklEQVQYV2Osqqr6z4AFtLW1MSILM1JfITZrsYmhuAOfJgAkRQwGuxJN4wAAAABJRU5ErkJggg==); background-repeat:repeat-x; width: calc(100% - 12px); margin:auto;}

.info-flight-way{padding:15px 10px; margin-top:10px; color:$primary2; 
	.place-wrap-from{float:left; width:35%; text-align:right}
	.place-wrap-to{float:left; width:35%; text-align:left}
	.way-wrap{float:left; width:30%; padding:0 10px; margin-top:7px; text-align:center}

	&:after{clear:both; content:" "; display:table;}
}

.layover{ position:relative; display:block; border-bottom:1px solid #cee9f3; height:0; width:100%;
	strong{background-color:#def6ff; font-weight:normal; color:#1aa7bd; display:block; position:absolute; left:50%; transform:translateX(-70%); top:-13px; padding:3px 10px; border-radius:$radius;}
	img{position:relative; top:-2px;left:-2px}
}

.heading-tab-details{padding:7px 10px 0 10px; background-color:$element; 
	border-top-left-radius:$radius-sm; border-top-right-radius:$radius-sm;
	.nav-tabs > li > a {
		font-size:13px; text-transform:uppercase; font-weight:bold; color:$primary;
		border:0;
		margin-right: 4px;
		padding:15px 30px;
   		border-radius:8px 8px 0 0; 
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		border:none; color:$accent;
	}
}

.item-result-wrap.active{
	height: 100%;
    position: relative;
    z-index: 90;
}



/* more btn */
.btn-ticket-more{
	background-image:url(../images/misc/bg-btn-more.png); background-repeat:no-repeat; background-color:transparent; color:#fff;
	width:257px;
	margin:auto; display:block;
	transform:translateY(-15px);
	font-size:12px; 
	border-radius:0 0 10px 10px;
    border: none;
     padding:4px 15px; 
}
.btn-ticket-more:focus{outline:none}

.panel-notify{ position:relative; z-index:90;overflow:hidden; border-radius:$radius-sm;
	.btn-close{position:absolute; top:-3px; right:-3px; background-color:$accent; border-radius:100%; text-align:center; width:30px; height:30px; line-height:30px; display:inline-block;  box-shadow:0px 0px 5px rgba(#000,.3);
		i{ color:#fff; }
	}
	.title{color:$accent; margin-bottom:15px;}
}

.envelope-style{
	background-color:#fff;
	padding: 1em;
	border: 15px solid transparent;
	border-image: 16 repeating-linear-gradient(-45deg, #FF9797 0, #FF9797 10px, transparent 0, transparent 20px,
	 #88E8FF 0, #88E8FF 30px, transparent 0, transparent 40px);
}



.table-flight-calendar{ background-color:#fff; overflow:hidden; margin:0;
	th{font-weight:normal}
	
	.tabs{position:relative;  color:$text-muted;
		&:before{
			background: linear-gradient(to top right,rgba(204,204,204,0) 0%,rgba(204,204,204,0) calc(50% - .8px),rgba(204,204,204,1) 50%,rgba(204,204,204,0) calc(50% + .8px),rgba(204,204,204,0) 100%);
		    content: '';
		    display: block;
		    height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 100%;
		}

		.depart{right: 10px; top: 10px; position:absolute}
		.return{bottom: 10px; left: 10px; position:absolute}
	}
	.col-day{color:$accent; font-weight:block; text-transform:uppercase; font-size:12px;}
	.col-depart{}
	.col-return{width:auto;}
	.topbar,.leftbar{color:$primary; font-weight:bold;}
	.topbar{padding-left:30px;}
	.leftbar{
		display: block;
	    height: 300px; width:24px;
	    position: relative;
	    text-align: right;
	}
	.title-return{
		right: -140px;
	    position: absolute;
	    top: 160px;
	    width: 300px;
		display: block;
	    -moz-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	}
	.highlight-col{background-color:#eee}
	tr:hover .x1, tr:hover .x2, tr:hover .x3, tr:hover .x4, tr:hover .x5, tr:hover .x6, tr:hover .x7{ background-color:#eee}
	td:hover{background-color:$accent!important; color:#fff;}
}

.calendar-flight-wrap{padding:10px; background-color:#ddd; box-shadow:inset 0 0 3px #999; border-radius:6px; margin-bottom:15px; 

}

.table-baggage{width:100%;
	td {padding: 8px;  vertical-align: top; border-bottom:1px solid #eee;}
	.info-airline{width:150px;
		img{max-height:28px;}
	}

}
.modal-confirming{background-color:$bg; position:relative; overflow:hidden;
	background-image:url('../images/misc/globe-half.png'); background-repeat:no-repeat; background-position:bottom;
	.plane{width:120px; position:absolute}
}

@keyframes plane-to-right {
    0% {left:0; }
    100% {left:100%;}
}

.plane-to-right {position:absolute; right:0;
    animation-name: plane-to-right;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}


.find-hotel-popup{
	background-color: #fefefe;
    bottom: 10px; 
    color: #000;
    overflow: hidden;
    position: fixed;
    left: 70px;
    width: 170px;
    -moz-border-radius: 10px 10px 5px 5px;
    -webkit-border-radius: 10px 10px 5px 5px;
    border-radius:5px;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(#666,.5);
    z-index: 9999;
	img{width:40px; height:auto;}
	.title{background:$accent; padding:5px 10px; color:#fff;}
	.subtitle{color:$accent;}
	.text-wrap{padding-bottom:7px; padding-left:7px; max-width: 110px;}
	.content{padding:7px;}
}
