.blok-confirm{
	.title{text-transform:uppercase; color:$accent; text-shadow:0 1px 0 #fff; padding:7px 0 10px 0;   font-size:13px; font-weight:600;}
}

.panel-voucher{border:2px dashed #999; max-width:900px; margin-top:70px; margin-left:auto; margin-right:auto; 
  .panel-top{padding:15px; padding-bottom:0;}
	.title-text{ color:$accent; margin-bottom:10px;  text-transform:uppercase; font-size:14px; font-weight:bold; background-color:#ffecc1; padding:10px 10px;
    i{margin-right:5px;}
  }
 

  .travel-stops {
    animation-name: none!important;
  }
}





.item-final{ margin-bottom:15px;
	.icon{width:42px; height:42px; display:bloclk; float:left; border-radius:50%; background-color:$bg; color:#999; margin-right:15px; text-align:center; line-height:42px; font-size:20px;}
	.title{display:block; color:$text-muted }
	.desc{font-size:16px; }
}

.thank-wrap{ text-align:center; line-height:1.8; margin:30px;
	i{ margin-bottom:15px; }
	h1{ font-size:28px; margin-bottom:15px;}
	h5{font-size:16px; color:$accent}
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: green;
  fill: none;
  animation: stroke 1s linear forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 3;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 30px auto;
  box-shadow: inset 0px 0px 0px green;
  animation: fill .5s ease-in-out .5s forwards, scale .4s ease-in-out 1s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .5s linear 1s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.3, 1.3, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px green
  }
}

.btn-find-next{width:45%; display:inline-block;
	text-transform: uppercase; padding:30px; 
	float:left; margin-right:15px;
	i{font-size:28px!important}
}

.shape-airplane, .shape-hotel{float:right; background-color:$accent;  @include linearGradient(#F1CF53, $accent);  width:120px; height:120px; border-radius:30px; text-align:center;  display:block;
	i{font-size:90px; line-height:110px; color:#b55f01; }
}