.section-pagetop{
	.title-page{padding:30px 0; font-size:22px; font-weight:300;}
}

.alert-passport{ background-color:#ffe3cf; color:$accent; 
	.title{font-weight:500; margin-bottom:10px;}
	.icon-id{width:50px; height:80px; background-image:url(../images/icons/icon-id.png); background-size:cover; background-repeat:no-repeat; display:inline-block; float:left; margin:15px 15px 0 15px;}
}

.alert-login-booking{padding:15px;  @include linearGradient(#fff, #f2f2f2); box-shadow:0 2px 5px rgba(#333, .25); position:relative;
	.title{margin-bottom:7px; font-weight:bold;}
	li{margin-right:10px; margin-left:5px;}
	.btn i{opacity:.2}
	.form-group{margin-bottom:0;}
}

.btn-extra[aria-expanded=true] + .alert-baggage{display:none}

.alert-baggage{position:absolute; animation:anim 2s; text-align:left; width:230px; background-color:#ffead7; display:inline-block; top:45px; right:0; padding:10px; box-shadow:0 2px 8px rgba(#222, .3); font-size:13px; color:$accent; border-radius:6px;
	// &:after {
	// top: -20px;
	// left: 80%;
	// border: solid transparent;
	// content: " ";
	// height: 0;
	// width: 0;
	// position: absolute;
	// border-bottom-color: #ffead7;
	// border-width: 10px;
	// margin-left: -10px;
	// }
	.close{margin-top:-6px; margin-right:-4px;}
}
.alert-baggage.top{top: -85px!important;}

@keyframes anim{
	0% {opacity: 0;  transform: translate3d(0, 100%, 0);}
	50% {opacity: 0;  transform: translate3d(0, 100%, 0);}
    100% {opacity: 1; transform: none;}
}

.panel{
	.num-step{position:absolute; left:-16px; top:7px; color:#fff; text-align:center; line-height:28px; font-weight:bold; font-size:16px; border-radius:50%; width:28px; height:28px;}
	.panel-heading{position:relative}
}
.panel-booking{
	.panel-title{text-transform:uppercase}
}
.panel-active{
	border:3px solid $accent; border-radius: $radius-sm;
	.panel-heading{background-color:$accent; color:#fff; padding:15px 15px; border-bottom:0; }
	.panel-title{font-size:13px; font-weight:500; text-indent:15px;}
	.num-step{ @include linearGradient(#FBDA61, $accent);}
}

.panel-disable{
	border:1px solid #fff; border-radius: $radius-sm; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	.panel-heading{color:$text-muted; padding:15px 15px; border-bottom:0; border-bottom:1px solid #eee;}
	.panel-title{font-size:13px; font-weight:500;  text-indent:15px; }
	.num-step{ background-color:#bbb;}
}
.compact-view:hover{cursor:pointer; box-shadow:inset 0px 0px 30px #ccc}

.subheading{ padding:0px 15px; background-color:#ffe5bd; border-top: 1px solid #f3d4a4;
	.title{color:$accent; text-shadow:0 1px 0 #fff;  display:inline-block; vertical-align:middle; line-height:3;font-size:14px; 
		b{color:$accent; text-transform:uppercase; }
	}
	i{color:$accent; font-size:26px; display:inline-block; vertical-align:middle}
}

.ticket-overview-mini {
	.info-stops{margin-top:0;}
	.row-trip:not(:last-child){
		border-bottom:1px dashed $element;
	}
	.info-duration .time {
	    font-weight: normal;
	}
}

.ticket-baggage{background-color:#f9f9f9; min-height:140px;
	li i{color:$accent2; width:16px;}
}

.item-featured {position:relative; margin-top:15px; margin-bottom:15px; padding-left:60px; 
	.icon-wrap{position:absolute; left:0; top:0; text-align:center;  display: block; width:48px; height:48px; border-radius: 50%; border:1px solid $accent2; }
	img{margin-top:7px; border-radius:6px;}
	.title {font-size:14px;  margin-bottom: 7px;  }
	p{color:$text-muted; font-size:12px;}
}

.radio.icheck{
	span:first-child{color:$accent}
	span+span{padding-left:32px; display:block; color:$text-muted}
}

/* passenger fill form panel */
.blok-options {background-color:$bg; border:1px solid #ddd; border-radius:$radius-sm; margin-top:7px; color:$text-muted;
	> .row >[class*=col-]{padding:15px;}
	> .row >[class*=col-]:not(:last-child) {border-right:1px solid #ddd; min-height:200px; }

	.title{color:$primary; margin-bottom:15px; font-weight:500; line-height:1.7;
		i{float: left; margin-right:10px; font-size:20px}
	}
}


.item-user-overview {
	i{float:left; font-size:18px; margin-right:7px; color:$accent; line-height:40px;  width:40px; height:40px; border-radius:100%; border:1px solid $accent; text-align:center;}
	p{ margin:4px 0; padding:5px;}
}

/* payment panel */
.nav-payment-type{
	> li{margin-bottom:5px;}
	> li a{border-radius:5px; background-color:$bg2; padding:25px 15px;}
	> li.active > a { background-color:$accent; color:#fff;	}
	> li.active > a:after {left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-left-color: $accent;
		border-width: 10px;
		margin-top: -10px;	
	}
    i{font-size:22px; margin-right:10px; vertical-align:middle; }
    > li span{display: inline-block;   vertical-align: middle;}
}

.form-card{
	.logos-payment{ margin-bottom:30px;
		img{width: 46px;}
		background-color: #f5f5f5;
	    padding: 10px;
	    border-radius: 7px;
	}


    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius:$radius;
    .form-control{box-shadow: none;}
}

.nav-menu-cash{ margin:15px 0;
	> li { float: left; margin-right:5px; margin-bottom: 5px;}
	> li a{border-radius:5px; padding:7px; border:2px solid #ddd; background-color:#fff}
	> li img{max-width:150px!important;}
	> li.active > a { border:2px solid $accent}
}

.discount-wrap{
	img{height:60px;}
	p{margin-bottom:0;}
}
.tab-menu-cash{margin:15px 0;}

/* sidebar */
.price-wrap{
	p .val{float:right; color:$primary}
	.total-sum{font-size:16px;}
}

.info-input{line-height:1.4; color:#999; width:120px; display:block; font-size:12px; font-weight:400;}

.baggage-icons-booking{
	span{float:left; display:block; color:$text!important}
	a{vertical-align:middle; display:block; float:left; margin-right:2px; width:20px;height: 20px; line-height:1.3; text-align:center;}
	i{font-size:16px; vertical-align:middle; }
}

.timer-block{margin:10px 0; padding:10px 7px 5px 7px; min-width:200px; position:relative; border-radius:8px; box-shadow:inset 0 0 4px rgba(#000, .4); @include linearGradient(#1FA7C6, #1378A3);
	i{font-size:46px; font-weight:medium; float:left; margin-right:7px; color:rgba(#fff, .3);}
	small, big{line-height:1.1;}
	small{display:block; color:#BAF3FF}
	big{font-size:32px; font-weight:500; color:#98DCEA;  text-shadow:0 2px 0 rgba(#000,.3)}
}


.price-passenger-total{display:none}

.is_stuck{position:relative; z-index:50; box-shadow:0 0 15px rgba(#000, .4)!important;
	.price-passenger-total{display:block}
	.price-passengers{display:none;}
	.panel{background-color:#fff; }
}


.blok-options-tab{
	background-color:$bg; padding:15px; border-radius:7px;
	.tab-item-wrap{padding-top:15px; margin-top:15px; border-top:1px solid #ddd} 
	.nav-pills > li a{font-weight:13px; font-weight:500; vertical-align:middle; margin-right:5px;	}
	.nav-pills > li i{font-size:18px; vertical-align:middle; margin-right:4px; margin-top:-2px;}
	.nav-pills > li:not(.active) a{background-color:#fff; color:$lightblue; border:1px solid #ddd;
		&:hover{background-color:#eee; }
	}
	.nav-pills > li.active a{background-color:$lightblue;  color:#fff; border:1px solid $lightblue;}

	.choose-wrap{margin-right:15px; display:inline-block; color:$text-muted; min-width:180px;
		b{display:inline-block;min-width:80px; font-weight:normal}
	}
}


.booking-opt-flight{margin-bottom:7px;
	span{display:inline-block; vertical-align:middle; padding-top:5px;}
	i{font-size:22px; color:$element; vertical-align:middle}
}

.overlay-alert{ position:relative;
	.full-view{ position:relative;
		&:before{position:absolute; top:0; width:100%; bottom:0; content:""; z-index:10; background-color:rgba(#fff, .8)}
	}
}

.alert-price{border-radius:$radius-sm; position:absolute; z-index:15; width:90%; left:5%; top:80px; overflow:hidden; background-color:$primary2; box-shadow:0 5px 20px rgba(#000, .4);  padding:30px; color:#fff;
	.title{font-size:14px;  font-weight:500; margin-bottom:7px;}
	.title2{font-weight:500;}
	label{display:inline-block; margin-left:15px;}
	.icon{color:$accent2; font-size:38px;}
}

.alert-price.alert-price-up{background-image:url(../images/misc/price-up.png); background-repeat:no-repeat; background-position:bottom right;}
.alert-price.alert-price-down{background-image:url(../images/misc/price-down.png); background-repeat:no-repeat; background-position:bottom right;}

/* plane map */
.plane-wrap{text-align:center; margin-top:30px; margin-bottom:30px;}
.plane-map{
	display:inline-block;
    background: #fff;
    position:relative;
    .plane-head{ 
    	width: 104%; margin-left: -2%;
    	height: 230px;
	    background-color: #fff;
	    background-image: url(../images/misc/plane-head.svg);
	    background-repeat: no-repeat;
	    background-size: cover;
    }
	.plane-body {
		position: relative;
	    min-height:250px;
	    border-left: 1px solid #c7c7c7;
	    border-right: 1px solid #c7c7c7;
	    padding:30px 15px;
	    .row{ position:relative}
	}
	.plane-body.wing{
		 &:before, &:after{
	    	content: " ";
		    width: 155px;
		    height: 285px;
		    position: absolute;
		    background-repeat: no-repeat;
		    background-position: center;
		    top: 340px; z-index:0;
	    }
	    &:before{
		    background-image: url(../images/misc/plane-leftWing.svg);
		    left: -130px;
		}
		&:after{ 
			background-image: url(../images/misc/plane-rightWing.svg);
		    right: -130px;
		}
	}
	.seat-row{padding:4px 4px 0 4px; margin-bottom:3px; position:relative}
	
	.side-row{position:relative; z-index:2; float:left;
		margin-bottom:5px;
		padding-top:3px;
		padding-right: 5px;
	    padding-left: 5px;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.letters{
		text-align:center; transform:translateY(-20px);
		b{ width: 30px;	    display: inline-block; }
	}
	.exit{
		position: absolute; top:35px;
	    padding:8px 2px;
	    width: 30px; font-size:16px;
	    background-color:#00a500; color:#fff;
	}
	.cabin-left .exit{left: -35px;}
	.cabin-right .exit{right: -35px;}
	.exit-left {left: -20px;
		-moz-transform: scaleX(-1);
	    -o-transform: scaleX(-1);
	    -webkit-transform: scaleX(-1);
	    transform: scaleX(-1);
	}
	.exit-right {right: -20px;}

	.number{font-style:normal;
		position: absolute;
	    left: -70px;
	    width: 30px;
	    text-align: right;
	    height: 32px;
	    line-height: 32px;
	    font-weight: bold;
	    color: #999;
	}
	
}

.plane-map, .seat-legend{
	.seat{
		cursor:pointer;
		width: 27px;
	    height: 40px;
	    margin-bottom:4px;
	    display: inline-block;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-image: url(../images/misc/seat.svg);
	}
	.seat:not(.seat-reserved):hover{background-image: url(../images/misc/seat-select.svg); opacity:.6;}
	.seat-reserved, .seat-blocked{opacity:.3; cursor: not-allowed;}
	.seat-selected{background-image: url(../images/misc/seat-select.svg);}
}

.seat-legend{ border-bottom:1px solid #eee;
	ul{list-style:none;
		.seat{width:20px; height:30px; margin:0 10px 0 0;}
		.text{width:80px; line-height:1.3}
		li{margin-bottom:10px; float:left}
		span{display:inline-block; vertical-align:middle; margin-right:7px;}
	}
}
.seat-info-top{ 
	p{line-height:1.3; padding:3px 7px; margin-right:10px; border:1px dashed #ccc;}
}


.item-food {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 15px;
    .img-wrap{text-align:center;}
    h5{font-weight:500;}
    p{margin-bottom:0; color:$text-muted}
    img{max-height:70px;}
    .action-wrap{padding:15px;}
    .price{margin-top:18px; text-align:center; font-size:18px; display:block;}
	.checkbox {
	    color: #EC6F23; float: left; margin-top: 5px; margin-right: 20px;
	}
	.input-group { max-width: 100px; }
}
