/* ================ section-INTRO ==================  */
.section-intro-flight {
  background-color: #7ad7c5;
  padding-top: 45px;
  background-image: url("../images/bg/intro-flight.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 710px;

  .tabs-wrap {
    margin-top: 15px;
  }
}

.section-intro-flight.airline {
  background-image: url("../images/bg/bg-airlines.jpg");
  min-height: 600px;
}

.section-flight-deals {
  background-color: $bg;
  padding-bottom: 30px;
  padding-top: 45px;
}

.intro-bg-city-flight {
  position: relative;
  background-image: url("../images/bg/bg-city.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  height: 108px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@keyframes flyplane {
  0% {
    right: 0;
    top: -30px;
  }
  60% {
    top: -50px;
    transform: rotate(0deg);
  }
  100% {
    right: 100%;
    top: -180px;
    transform: rotate(25deg);
  }
}

@-webkit-keyframes flyplane {
  0% {
    right: 0;
    top: -30px;
  }
  60% {
    top: -50px;
    transform: rotate(0deg);
  }
  100% {
    right: 100%;
    top: -180px;
    transform: rotate(25deg);
  }
}

.plane-move {
  position: absolute;
  right: 0;
  top: -70px;
  animation-name: flyplane;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.plane-move {
  position: absolute;
  right: 0;
  top: -70px;
  -webkit-animation-name: flyplane;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: linear;
}

.btn-close-trip {
  background-color: #999;
  margin-top: 30px;
  width: 20px;
  color: #fff;
  font-size: 16px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  &:hover {
    color: #fff;
    background-color: red;
  }
}
.btn-add-trip {
}
