.text-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-hotel {
	overflow: hidden;
	border-radius: $radius-sm;
	background-color: #fff;
	margin-bottom: 15px;
	box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
	.img-wrap {
		height: 160px;
		overflow: hidden;
		background-color: #ddd;
		position: relative;
		img {
			width: 100%;
			min-height: 100%;
		}
	}
	.info-wrap {
		padding: 10px 15px;
		border-bottom: 1px dashed #ccc;
	}
	.title-wrap {
		height: 90px;
		overflow: hidden;
	}
	.title {
		color: $primary2;
		margin: 5px 0;
		font-size: 16px;
	}
	.img-rating {
		height: 12px;
		width: auto;
		vertical-align: middle;
		margin-right: 7px;
	}
	small {
		color: $text-muted;
	}
	p {
		margin: 0;
	}
	.amenities {
		margin-top: 10px;
		span > i {
			font-size: 20px;
			font-weight: 300;
			color: $lightblue;
			margin-right: 3px;
			border: 1px solid $lightblue;
			padding: 3px;
			border-radius: 4px;
			width: 32px;
			height: 32px;
			line-height: normal;
			text-align: center;
			display: inline-block;
		}
	}

	.bottom-wrap {
		padding: 15px;
		.btn {
			margin-top: 5px;
			padding-top: 7px;
			padding-bottom: 7px;
		}
	}
	.price-old {
		color: #e48181;
		position: relative;
		font-size: 18px;
		padding-right: 4px;
		text-decoration: none;
		display: inline-block;
		&:before {
			position: absolute;
			content: "";
			left: -3px;
			top: 45%;
			right: 3px;
			width: 100%;
			border-top: 2px solid;
			border-color: red;
			-webkit-transform: rotate(-17deg);
			-moz-transform: rotate(-17deg);
			-ms-transform: rotate(-17deg);
			-o-transform: rotate(-17deg);
			transform: rotate(-17deg);
		}
	}
	.price-new {
		font-size: 20px;
		font-weight: bold;
	}
	.currency {
		font-size: 16px;
		color: #999;
	}
}

.offer-badge {
	display: block;
	position: absolute;
	top: 0px;
	right: 15px;
	z-index: 2;
	b {
		background: red;
		padding: 5px;
		font-weight: normal;
		text-align: center;
		color: #fff;
		font-size: 20px;
		display: inline-block;
		height: 35px;
		width: 60px;
		position: relative;
	}
	b:after {
		border-top: 10px solid red;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: 35px;
		width: 0;
	}
}

.btn-load {
	display: block;
	padding: 10px;
	width: 100%;
	text-align: center;
	color: $text-muted;
	border-radius: $radius-sm;
	background-color: #fff;
	@include linearGradient(#fff, #f1f1f1);
	border: 1px solid #ddd;
}

.mapmarker {
	position: relative;
	border-radius: 4px;
	padding: 4px;
	color: #fff;
	font-size: 12px;
	background: $accent;
	min-width: 65px;
	text-align: center;
	display: inline-block;
	box-shadow: 0 -2px 3px rgba(#000, .2);
	&:hover {
		color: #ddd;
	}
}
.mapmarker:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(235, 90, 7, 0);
	border-top-color: $accent;
	border-width: 7px;
	margin-left: -7px;
}

.select-filter-wrap {
	position: relative;
	top: -5px;
	right: -5px;
	.btn-link {
		color: #fff !important;
	}
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: auto;
	}
	.btn-filter {
		padding-left: 3px;
		color: #fff !important;
		background-color: transparent;
		border: none;
		&:hover {
			color: $accent2 !important;
		}
	}
	.bootstrap-select > .dropdown-toggle.bs-placeholder {
		color: #fff !important;
	}
}

.panel-map {
	position: relative;
	.card-wrap {
		width: 270px;
		position: absolute;
		left: 15px;
		top: 15px;
		z-index: 10;
	}
}

.panel-list {
	margin-bottom: 10px;
	border-radius: 5px;
	.bg-white {
		background-color: #fff !important;
	}
	.img-wrap {
		position: relative;
		img {
			height: 206px;
			width: 100%;
		}
	}
	.text-wrap {
		padding: 10px 25px;
		.title {
			color: $primary;
			margin-bottom: 5px !important;
		}
		.rate-bar {
			margin-bottom: 10px;
			font-size: 12px;
			color: #8b8b8b;
		}
		.area {
			color: #8b8b8b;
			margin-bottom: 30px;
		}
		.pay {
			color: #8b8b8b;
			margin-bottom: 5px;
		}
		.money {
			color: #8b8b8b;
			font-size: 18px;
			font-weight: bold;
			.mount {
				color: $primary;
			}
			.old {
				color: #e48181;
				position: relative;
				font-size: 18px;
				padding-right: 4px;
				text-decoration: none;
				display: inline-block;
			}
			.old::before {
				position: absolute;
				content: "";
				left: -3px;
				top: 45%;
				right: 3px;
				width: 100%;
				border-top: 2px solid;
				border-color: red;
				transform: rotate(-17deg);
			}
		}
		.amenities {
			margin-bottom: 40px;

			i {
				font-size: 20px;
				font-weight: 300;
				color: #25c2da;
				margin-right: 3px;
				margin-bottom: 3px;
				border: 1px solid #25c2da;
				padding: 3px;
				border-radius: 4px;
				width: 32px;
				height: 32px;
				line-height: normal;
				text-align: center;
				display: inline-block;
			}
		}
		.book-btn {
			a {
				width: 110%;
				overflow: hidden;
			}
		}
	}
}
#pagination {
	width: 100%;
	text-align: center;
	padding: 20px;
}
#pagination a:hover {
	background-color: #eee;
	border-radius: 100%;
	color: #0a9bb1;
}
#pagination a,
#pagination strong {
	width: 30px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	padding: 5px 0;
	margin: 5px 0px;
	color: #212529;
}
#pagination strong {
	background-color: #0a9bb1;
	color: #fff;
	border: none;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(#000, .3);
}
.btn-close-item {
	position: absolute;
	top: -7px;
	right: -7px;
	width: 22px;
	height: 22px;
	box-shadow: 0 0 5px rgba(#000, .3);
	background-color: #fff;
	border-radius: 100%;
	z-index: 15;
	text-align: center;
	color: #666;
}

.hotel-listing-item {
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 20px 0px;
	padding: 12px 0 12px 10px;
	position: relative;
	.my-col {
		padding-left: 0px;
	}
	.my-col:last-child {
		padding: 0px;
	}
	.img-wrap {
		position: relative;
		img {
			height: 206px;
			width: 100%;
		}
	}
	.title {
		color: #5853b1;
		line-height: 1.5em;
		margin-bottom: 20px;
	}
	.img-rating {
		max-width: 100%;
	}
	.tripadvisor {
		max-width: 100%;
	}
	.address {
		font-size: 14px;
		color: #999;
	}
	.notes {
		font-size: 14px;
		margin-top: 20px;
		line-height: 1.5em;
		color: #999;
	}
	.money-wrap {
		height: 130px;
		padding-top: 20px;
		.old-money {
			color: red;
			font-size: 16px;
			text-decoration: line-through;
		}
		.money {
			color: #5853b1;
			font-size: 20px;
			font-weight: bold;
		}
		.price-note {
			font-size: 12px;
			color: #31353f;
		}
	}
	.pay {
		margin-top: 10px;
	}
}
