.block-special{
	margin-bottom:15px;
}

.hotel-overview-aside{
	overflow:hidden; background-color:#fff; margin-bottom:15px; 
	.img-wrap{height:65px; width:75px; float:left; overflow:hidden;  border-radius:$radius-sm; margin-bottom:3px; background-color:#ddd; position:relative;
		img{width:100%;     min-height: 100%;}
	}
	.info-wrap{padding-left:10px; overflow:hidden; margin-top:-6px;}
	.title{color:$primary; margin:5px 0; font-size:14px; font-weight:500;}
	.img-rating{height:12px; width:auto; vertical-align:middle; margin-right:7px;}
	small{ color:$text-muted; }
	.area{max-width:95%;}
}

.hotel-pricing-wrap{
	p{overflow:hidden; margin-bottom:10px; }
	
	.dates-wrap{
		p{margin-bottom:0;}
		.col-nights{width:24%; float:left; padding:0 4px;}
		.col-date-in{width:38%; float:left; border-right:1px solid #ddd;}
		.col-date-out{width:38%; float:left; border-left:1px solid #ddd; } 
		.val{color:$primary}
	}
	.guest-wrap{ margin-bottom:7px;
		.val{width:150px; text-align:left; float:right; color:$primary; display:inline-block}
	}
	a{color:$accent2}
}
.title-bg{background-color:#ddd; font-size:13px; padding:7px 15px; text-transform:uppercase; color:$text-muted}

.btn-coupon{background-color:$lightblue; color:#fff; text-align:center; padding:6px; width:100%; display:block; border-radius:0 0 $radius $radius;
	&:hover{background-color:#00a8c1; color:#fff}
	&:focus{color:#fff; text-decoration:none;}
	i{font-size:12px;}
}

.cvv-wrap{
	.popover-content{padding:2px}
	img{height:36px;}
}

.coupon-wrap{border-top:1px solid #efefef; box-shadow:inset 0 0 10px  #eee;
	.block-coupon{padding:15px;}
	.nav{margin-bottom:7px;}
	.nav>li>a{margin-right:2px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	     background-color:#f2f2f2;
	}
	.nav>li.active>a{background-color:$lightblue}
}

.wrap-secure{ line-height:1.3;
	img{height:36px; width:auto; }
}