.breadcrumb{background:none; border:none; margin:15px 0; color:#fff; 
	a{color:#fff; }
	.active {  color:rgba(#fff,.6);}
	li+li:before{  color:rgba(#fff,.6);}
}

.heading-top-hotel{ margin-bottom:25px;
	.title{font-size:24px; font-weight:500; color:$primary}
	i{ color:$text-muted; font-size:14px;}
	.img-rating{height:12px; width:auto; vertical-align:top;}

	.price-wrap{margin:0;
		.currency{font-size:85%; color:$text-muted}
	}
	.price{font-size:24px; font-weight:bold; display:block; color:$primary2;}
}

.section-similar{ background-color:#F5F5F5}

.wrap-map-sm{
	border:1px solid #ccc; border-radius:$radius; background-color:#ddd; background-image:url(../images/misc/map.png); height:220px; position:relative; 
	.btn-views-wrap{bottom:15px; position:absolute; left:50%; transform:translateX(-50%); width:205px;
		a{font-weight:500; color:$primary;}
		a:first-child{border-radius:40px 0 0 40px}
		a:last-child{border-radius:0 40px 40px 0}
	}

}

.amenity-all-wrap{border-top:1px solid #ddd; padding-top:15px;
	.amenity-type{width:200px; display:inline-block; vertical-align:top;}
	.title{margin-top:4px; margin-bottom:4px;}
}

.hotel-edit-wrap{background-color:#DDF6FA;
	.row > div[class^='col']{border-right:1px solid rgba($lightblue, .2); padding:15px 0 15px 15px;}
	.row > div[class^='col']:last-child{border-right:none; padding-right:15px;}
	.row > div[class^='col']:first-child{border-right:none;}
	
	p{margin:0;}
	.img-icon{  width: 18px; height: auto;  opacity: .6;}
	.item-info i{font-size:20px; color:rgba($lightblue,.6);}
	.item-info span{display:block}
	.title{font-size:14px; color:$lightblue;}
	.val{	}
}
.blok-modify{border-top:1px solid rgba($lightblue, .2);}

.list-places{
	list-style: none;
	padding:15px 0 4px 0; 
	li{padding-left:20px; margin-bottom:4px; position:relative; color:$text-muted}
	li:before{
		position:absolute; 
		top:0; left:0;
		content: "\E0C8"; /* Material Unicode */
		color:$accent;
		font-family: "Material Icons";
		display: inline-block;
	}
	li:hover{background-color:#f2f2f2; transition:.5s}
}

.title-amenity{font-size:14px; font-weight:500; margin:4px 0; color:$accent}
.list-amenity{ margin-bottom:15px;
	list-style: none;
	padding:7px 0 7px 0; 
	li{padding-left:25px!important; margin-bottom:4px; position:relative; color:$text-muted}
	li:before{
		position:absolute; 
		top:-3px; left:0;
		font-size:18px;
		content: "\E86C"; /* Material Unicode */
		color:$accent;
		font-family: "Material Icons";
		display: inline-block;
	}
}

.room-heading{
	background-color:#DDF6FA; padding:15px; border-radius:$radius-sm;
	.title{font-size:15px; color:$primary2; text-transform:uppercase; font-weight:bold;}
	small{color:$lightblue; font-weight:500	}
}

.room-type-wrap{
	main{border-left:1px solid #ddd; min-height:300px}
}

.img-room-wrap{margin:15px 15px 15px 0;
	img{border-radius:$radius; }
}

.room-amenity-wrap{margin-right: 15px; margin-bottom:15px;
	hr{margin-top:10px; margin-bottom:10px;}
}

.list-facility-room{list-style:none; margin-bottom:7px;
	li{color:$primary; margin-bottom:3px; font-size:13px;}
	i{font-size:14px; transform:translateY(2px); margin-right:3px;}
}

.item-room{font-size:13px;
	padding:15px; padding-right:0; border-bottom:1px solid #ddd; 
	.title{color:$primary; margin-bottom:7px; font-size:14px; font-weight:bold;}
	ul li{margin-bottom:3px; list-style:none; font-size:13px;}
	p{margin-bottom:3px; }
}
.room-deal-wrap{border-left: 1px dashed #ddd;  min-height:80px; position:static;}
.room-select-wrap{ border-left: 1px dashed #ddd;  text-align:center;
	.btn{margin-bottom:5px;}
	.price{font-size:18px; font-weight:bold; color:$primary2; margin-bottom:7px; display:block; 
		.icon{color:#bbb}
		.currency{font-size:85%; color:$text-muted}
	}
	.price-old{color:red; display:block; font-size:13px;}
	small{display:block}
}
.item-room:last-child{border-bottom:none}

.blok-offer{margin:15px 0;}

.list-feature{
	list-style:none;
	li{margin-bottom:15px;}
	.title{font-size:14px; color:$primary; font-weight:bold; margin-bottom:7px;}
	.icon-wrap{float:left; width:50px; height:50px; border-radius:100%; background-color:$bg; text-align:center; padding:10px;
		img{width:40px; height:auto;}
	}
	.text-wrap{float:left; width:calc(100% - 50px); padding-left:15px;}
}

.modal-map-body{position:relative; margin:7px;
	.card{ position:absolute; left:15px; top:15px; }
	.modal-filter-wrap{margin-top:7px;
		.map-icon{display:inline-block; width:22px; height:22px; position:relative; vertical-align:middle; 
			&:before{ display:block; position:absolute; top:-2px;}
		}
		.dist-bus {color:#EC6F23}
		.dist-mosque {color:#2CA54C}
		.dist-halal {color:#E20000}
		.dist-restaurant {color:#00B3DD}
		.dist-metro {color:#8910A3}
		.dist-mall {color:#B648E0}
		.dist-medical {color:#0096D4}
		.dist-plane {color:#EC6F23}

		.dist-bus .map-icon:before{content:url('../images/icons/map-icons/bus.png');}
		.dist-mosque .map-icon:before{content:url('../images/icons/map-icons/mosque.png');}
		.dist-halal .map-icon:before{content:url('../images/icons/map-icons/halal.png');}
		.dist-restaurant .map-icon:before{content:url('../images/icons/map-icons/rest.png');}
		.dist-metro .map-icon:before{content:url('../images/icons/map-icons/metro.png');}
		.dist-mall .map-icon:before{content:url('../images/icons/map-icons/mall.png');}
		.dist-medical .map-icon:before{content:url('../images/icons/map-icons/med.png');}
		.dist-plane .map-icon:before{content:url('../images/icons/map-icons/plane.png');}
	}
}

.payments-wrap{
	img{max-width:55px; margin:0 3px 7px 0;}
}
.modal-map-filter{
	background-color: #eee;
    float: right !important;
    height: 100%;
    padding: 14px;
    position: absolute !important;
    right: 0;
    top:0;
    z-index: 9;
    width:220px;
}

.block-stat-hotel{ color:#fff;
	background-color:#EB5858;  border-radius:0 7px 7px 0; margin-left:-16px;
	.icon-wrap{float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    padding:7px;}
    strong{font-weight:500;}
    .text-wrap{
    float: left;
    width: calc(100% - 50px);
    padding-left: 15px;
    }
}
