
/* ================ section hotel-INTRO ==================  */
.section-intro-hotel{background-color:#7AD7C5; padding-top:80px; position:relative;
	background-image:url('../images/bg/hotel-intro-bg.jpg'); background-size:cover; background-repeat:no-repeat; position:relative;  min-height:710px;
}

.main-form-wrap{background-color:rgba(#fff,.7); border-radius:$radius; padding:30px; margin-top:15px; position: relative;
    z-index: 9;}

.form-single-wrap{ position:relative;
	.arrow {
	    position: absolute;
	    top: 12px;
	    right: 12px;
	    z-index: 2;
	    font-size: 22px;
	    color: #D1D1D1;
	}
}
.recent-search-txt{padding:7px 0;font-size:13px; margin-top:5px; color:#999; display:inline-block;
	a{ color:#fff;  padding:3px 7px; border-radius:10px; margin:2px; display:inline-block; background-color:#84d6d6;
	&:hover{background-color:$lightblue}
	}
}

.number-spinner { text-align:center;
	i{font-size:14px!important; color:#999; font-weight:300; margin:0!important;}
}

///// dropdwon occupancy
.occupancy-dropdown{position:absolute; top:100%; background-color:#fff; z-index:10; min-width:395px;
	border-radius:4px; padding:15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	.title { margin-top:7px; margin-bottom:7px;  background-color:#eee; color:$primary!important; font-weight:bold;   font-size: 12px;  padding: 4px 10px;
		i{font-size:16px;}
	}
	p{margin:0;}
	.room-count{
		.title-wrap{font-weight:bold; padding:5px;float:left}
		.spinner-wrap{width:115px; float:left; margin-right:7px}
	}

	.item-occupancy{margin-bottom:7px; display:table; 
		label{font-size: 12px;}
		.form-control{margin-bottom:7px; display:inline-block;}
		.item-people{
		    width: 60px; margin-right:10px;
			float: left;
		}
		.item-people:first-child{width:75px;}
		.item-people:not(.age-child){color:$primary2!important}
		.item-people.age-child{color:$text-muted}
	}

	

}



// .occupancy-dropdown{position:absolute; top:100%; background-color:#fff; z-index:10; min-width:350px;
// 	border-radius:4px;
//     box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
// 	.children-age-wrap{margin-bottom:15px; }
// 	.room-count{
// 		padding:15px; border-bottom:1px solid #e4e4e4;
// 		.title-wrap{font-weight:bold; padding:5px;float:left}
// 		.spinner-wrap{width:115px; float:left; margin-right:7px}
// 	}
// }

// .list-occupancy{list-style:none; display:table; border-collapse: collapse;}
// .item-occupancy{display:table-row; border-bottom:2px solid #ddd;
// 	.icon-wrap{display:table-cell; vertical-align: middle;border-right:1px solid #eee; min-width:70px;  text-align:center; padding:7px 0;
// 		.title{font-size:11px; font-weight:500; display:block; color:$accent2;}
// 		i{font-size:24px; display:block; color:$accent2;}
// 	}
// 	.people-wrap{display:table-cell;
// 		.item-people{width:50%; display:inline-block; float:left;
// 			label{font-weight:500; display:inline-block; margin-right:5px; color:$text-muted}
// 		}
// 		.item-age{
// 			label{font-size:11px; color:$text-muted}
// 		}
// 	}
// 	.count-people-wrap{padding:10px; float:left; width:100%;}
// 	.age-wrap{background-color:#F5F5F5; padding:10px; float:left;  width:100%; position:relative; 
// 		&:after {
// 			bottom: 100%;
// 			left: 60%;
// 			border: solid transparent;
// 			content: " ";
// 			height: 0;
// 			width: 0;
// 			position: absolute;
// 			pointer-events: none;
// 			border-color: rgba(245, 245, 245, 0);
// 			border-bottom-color: #f5f5f5;
// 			border-width: 10px;
// 			margin-left: -10px;
// 		}
// 	}
	
	
// 	.form-control{width:55px; display:inline-block;}
// 	.item-age{width:60px; float:left}
// }

.section-offers-hotel{padding:45px 0; background-color:$bg; background-image:url('../images/bg/bg-map.jpg'); background-repeat:repeat-x; border-bottom:1px solid #eee;

}
	
.card-offer-hotel{ margin-bottom:15px; box-shadow:0 1px 3px rgba(50,50,50,.2);
	.card__info{background-color:#fff;}
	a{ color:$accent; 
		&:hover{color:$accent2}
	}
}

.section-country{padding:45px 0;  background-repeat:repeat-x; background-position:bottom;border-bottom:1px solid #ddd; }

.card-hotel-main{overflow:visible; margin-bottom:45px;
	.card__img-wrap{border-radius:6px 6px 0 0}
	.card__info{ 
			border-radius:0 0 6px 6px;
			background-color:#f5f5f5; float:left; width:100%;
			border-bottom:1px dashed $element; 
			i{color:$element; font-size:36px;}
			small{color:$text-muted}
	}
	.card__pricelist{background-color: #F5F5F5; padding:15px;  border-radius:6px; float:left; width:100%; box-shadow:0 2px 2px rgba(50, 50, 50, 0.2); 
		small{color:$text-muted}
	}

	.title-left-wrap{float:left; width:40%}
	.title-right-wrap{float:left; width:40%; text-align:right;}
	.icon-center-wrap{float:left; text-align:center; width:20%; }
}


.intro-bg-city-hotel{background-image:url('../images/bg/bg-city.png');   background-position:center bottom; background-repeat:repeat-x; height:108px; display:block; position:absolute; bottom:0; width:100%;}

.section-middle-east{background-image:url('../images/bg/bg-middle-east.jpg');}
.section-europe{background-image:url('../images/bg/bg-europe.jpg');}
.section-asia{background-image:url('../images/bg/bg-asia.jpg');}