
////////// INSURANCE
.section-intro-insurance{background-color:$lightblue; padding-top:80px; position:relative;
	background-image:url('../images/bg/bg-insurance.jpg'); background-size:cover; background-position:right; background-repeat:no-repeat; position:relative;  min-height:650px;
}


.select-wrap.select-lg{
    border-bottom: none;
    height: 100%;

    .passenger-type-wrap{ padding:10px 15px;
    	cursor: pointer;
    	.person{display:block; line-height: 1.5;}
    	.icon{font-size:16px; color:$accent2; display:inline-block; width:20px;}
    	.icon.lg{font-size:18px}
    	.icon.sm{font-size:17px}
    }
}

.section-insurance-feature{padding-top:45px; background-color:$primary2; color:#fff;  
	.article {
		.title{color:$accent2; margin-bottom:10px; }
	}
	.lead{font-size:20px;}
}

.alert-insurance-date{right:0; top:100%; position:absolute; animation:anim 2s; text-align:left; width:200px; background-color:#ffead7; display:inline-block; padding:15px; box-shadow:0 2px 7px rgba(#ddd, .8); font-size:13px; color:$accent; border-radius:6px;
	&:after {
	bottom: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-bottom-color: #ffead7;
	border-width: 10px;
	margin-left: -10px;
	}
}


.blok-insurance-page{ color:#000; position:relative;
	background-color:#fff; box-shadow:0px 3px 7px rgba(#000, .2); padding:15px 20px; border-radius:15px 15px 0 0; max-width:80%; margin-left:auto; margin-right:auto; transform:translateY(15px);
 @include linearGradient(#fff, #eee);
 .icon-wrap{background-color:#fff;}
	&:before{
	content:"";
	position:absolute; right:-10px; bottom:0px;
	width: 0; height: 0; border-top:15px solid #666; border-right:10px solid transparent;
	}
	&:after{
	content:"";
	position:absolute; left:-10px; bottom:0px;
	width: 0; height: 0; border-top:15px solid #666; border-left:10px solid transparent;
	}
}

.list-step-num{list-style:none;
	li{margin-bottom:15px;}
	.icon-wrap{width:32px; height:32px; text-align:center; line-height:32px; font-weight:bold; font-size:20px; background-color:$accent; border-radius:100%; float:left; }
	.text-wrap{margin-left:40px;}
	.title{font-size:18px; color:$accent2; margin-bottom:10px;}
}


.section-insurance-about{padding:45px 0; background-color:$bg; background-image:url('../images/bg/bg-map.jpg'); background-repeat:repeat-x;}




///// featured icons
.item-feature-insurance { margin-bottom:45px;
	.icon-wrap {
	  	margin: auto;  width: 150px;  height: 150px; line-height: 150px; background: $primary2 none repeat scroll 0% 0%;
	  	display: block;  text-align: center;   border-radius: 100%;
	 	i {
	    font-size: 56px;
	    font-weight: normal;
	    line-height: inherit;
	    color: $accent2; 
		}
	 }
	.text-wrap {
	  text-align: center;
	  margin-top: 15px; 
	}
	.title {
	  color: #fff;
	  margin-bottom: 10px;
	  color: #103B70; 
	}
}