.section-login{background-image:url('../images/bg/bg-balloon.jpg'); background-size:cover; padding-top:60px; padding-bottom:60px;}
.section-agent{background-image:url('../images/bg/bg-agent.jpg'); background-size:cover; padding-top:60px; padding-bottom:60px;}

.panel-login-wrap{overflow:hidden; border-radius:7px;  box-shadow:0 2px 3px rgba(0,0,0,.2)}
.login-info-panel{padding:60px; background-color: rgba(0,0,0,.6); color:#fff; margin-bottom:-700px; padding-bottom:700px;
	.title{color:$accent2; margin-bottom:15px; }
	.lead{font-size:18px; line-height:1.8; }
	a{color:$accent2;}
	hr{opacity:.2}
}

.login-register-wrap{background-color:$bg;  margin-bottom:-500px; padding-bottom:500px;
	.tab-pane{padding:30px;}
	.nav{border-bottom:1px solid #ddd; 
		> li a{border:0; text-transform:uppercase; margin-bottom:-1px;  font-weight:500; padding:15px 30px;}
		> li.active > a,
			> li.active > a:hover,
			> li.active > a:focus{
			    color: $accent;
			    cursor: default;
			    padding-bottom:-1px;
			    border-bottom:1px solid $accent;
			}
			> li > a:focus{
			    color: $primary;
			    cursor: default;
			    background-color:transparent;
			    border:none;
			}
			li:not(.active) a{color:$text-muted;
				&:hover{color:$accent!important}
			}
	}
}
.login-agent{background-image:url('../images/bg/agent.jpg'); background-repeat:no-repeat; background-size:cover; background-color:#999}

.flip-wrap{
	height:450px; width:100%;
	perspective: 900px;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
    transition: all 0.5s linear;

    .flip-item{
    	width:100%;
    	transition: all .5s ease 0s;
		position: absolute; top:0;
		background-color:$bg;
		height:450px; 
		backface-visibility: hidden;
    }
    .flip-back{
        transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
 		-webkit-backface-visibility: hidden;
    }
}

.flip-wrap.flipped{
	.flip-front {
    		  transform: rotateY(-180deg);
                -moz-transform: rotateY(-180deg);                
                backface-visibility: hidden;    
    }
    .flip-back {
    		transform: none;
            backface-visibility: visible;
    }
}
// .tab-pane-body{padding:30px;}
// .panel-login{box-shadow:0 0 15px rgba(#000, .2); border-radius:7px; border:none;
// 	.input-group{width: 100%;}
// 	.input-group-addon:first-child { width:40px;
// 	    i{font-size:16px; }
// 	}
// 	.nav-tabs{border-bottom:none; background-color:#eee; border-radius:7px 7px 0 0;
// 			> li{margin-bottom:0px;}
// 			> li a{border:0; text-transform:uppercase; font-size:16px; text-transform:uppercase; font-weight:bold; padding:20px 30px;
// 				border-radius:7px 7px 0 0;
				
// 			}


// 			> li.active > a,
// 			> li.active > a:hover,
// 			> li.active > a:focus{
// 			    color: $primary;
// 			    cursor: default;
// 			    background-color:#fff;
// 			    border:none;
// 			}
			
// 			li:not(.active) a{background-color:#eee; color:$text-muted;  box-shadow:0 0px 5px rgba(#fff,0.2);
// 				&:hover{color:$accent!important}
// 			}
			
// 		}
// }

.line-center-text{position:relative; 	text-align: center; margin-top:15px; margin-bottom:15px;
	&:before{
		content: "";
	    position: absolute;
	    width: 100%;
	    height: 1px;
	    top: 50%;
	    left: 0;
	   z-index: 1;
	    background: #ddd;
	}
	span{background-color:$bg; color:$text-muted; padding:7px; position:relative; z-index:2; }
}

p.login-via{text-align:center; line-height:2;
	.btn{color:white; 
		&:hover{opacity:.7}
	}
}
.btn-twitter{ background-color:#00aced}
.btn-facebook{background-color:#3b5998}
.btn-google{ background-color:#c32f10}



