.section-content-offer {
	padding: 50px 0px;
	.title {
		color: $primary;
		font-size: 18px;
		border-bottom: 1px solid #979797;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.par {
		font-size: 16px;
		margin-bottom: 50px;
	}
	.list {
		list-style: none;
		li {
			margin: 5px 0px;
		}
		i {
			margin-right: 5px;
			color: #01579b;
		}
	}
	.valid-till {
		background-color: $primary;
		padding: 20px;
		color: $accent;
		span {
			color: #fff;
		}
	}
	.available {
		padding: 20px;
		margin-top: 20px;
		border: 1px solid #d7dce3;
		border-radius: 2px;
		font-size: 16px;
		i {
			color: $accent;
			font-size: 50px;
			border: 1px solid #d7dce3;
			border-radius: 50%;
			padding: 14px;
			margin-bottom: 30px;
		}
		.tel {
			color: $primary;
			font-weight: bold;
		}
	}
}

.offer-orange {
	background-color: $accent2;
	padding: 50px 0px;
	.title {
		font-size: 30px;
		color: #fdfdfd;
		letter-spacing: 0;
		text-align: center;
		margin-bottom: 40px;
	}
	i {
		font-size: 35px;
		color: #fff;
		border: 2px dotted #fff;
		border-radius: 50%;
		padding: 15px;
	}
	span:after {
		content: "";
		position: absolute;
		height: 5px;
		border-top: 2px dotted white;
		top: 30px;
		width: 220px;
	}
	.first:before {
		content: none;
	}
	.last:after {
		content: none;
	}
	h5 {
		color: #fff;
		margin-top: 30px;
		font-weight: bold;
		width: 80%;
		margin-left: 10%;
		line-height: 21px;
		p {
			color: $primary;
		}
	}
}
