.section-pages-intro {
	background-color: $lightblue;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 480px;
}

.section-form-bottom {
	background-image: url('../images/bg/bg-airlines.jpg');
	background-size: cover;
	position: relative;
	&:before {
		content: " ";
		background-color: #ffffff;
		opacity: 0.7;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
	}
	.container {
		position: relative;
		z-index: 4;
	}
}

.section-pages-intro.page-airlines {
	background-image: url('../images/bg/bg-airlines.jpg');
}
.section-pages-intro.page-offers {
	background-image: url('../images/bg/bg-offers.jpg');
	background-position: bottom;
}
.section-pages-intro.page-faq {
	background-image: url('../images/bg/bg-faq.jpg');
}

.valid-date-detail {
	padding: 15px 30px;
	max-width: 350px;
	margin: 15px auto;
	border-radius: 7px;
	background-color: #333;
	color: #fff;
	font-size: 20px;
	i {
		color: $accent2;
		font-size: 22px;
		margin-right: 7px;
	}
	.title {
		color: $accent2;
		margin-right: 10px;
	}
}

.pagetop-pages {
	background-color: $accent;
}

.panel-pages {
	box-shadow: 0 2px 3px rgba(#333, .3);
	position: relative;
	.img-main {
		width: 100%;
		border-radius: 7px;
		margin: 15px 0;
	}
}
.panel-pages2 {
	margin-top: -100px;
	position: relative;
	box-shadow: 0 2px 4px rgba(#333, .2);
}
////////// SEARCHBOX
.searchform-intro {
	.btn {
		position: relative;
		background-color: transparent;
		right: 32px;
	}
}
.searchform-intro {
	margin-top: 80px;
	display: block;
	position: relative;
}
.searchform-intro input[type="text"] {
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 6px 20px;
	border-radius: 8px;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 18px;
	opacity: .7;
}
.searchform-intro input[type="text"]:focus {
	outline: 0;
	border: 2px solid $accent;
}
.searchform-intro .btn {
	position: absolute;
	top: 0px;
	right: 15px;
	bottom: 0px;
	width: 60px;
	padding: 0;
	border: none;
	background: transparent;
	color: $accent;
	cursor: pointer;
	height: 60px;
	line-height: 60px;
	min-width: 0;
}
.searchform-intro .btn i {
	font-size: 26px;
}

////////// OFFER PAGE
.filter-btn-wrap {
	margin: 50px;
	.btn {
		font-weight: 300;
	}
	.btn.active {
		color: rgba(#fff, .8);
	}
}

.panel-offer-big {
	padding: 15px;
	margin-bottom: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
	border-radius: 6px;
	background-color: #fff;
	img {
		border-radius: 7px;
	}
}
.card-deal {
	box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
	background-color: #fff;
	margin-bottom: 30px;
	.card__info {
		float: left;
		width: 100%;
	}
	.card__img-wrap {
		height: 250px;
	}
	.card__info p:first-child {
		height: 70px;
		overflow: hidden;
		display: block;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0px;
			bottom: 0px;
			right: 0px;
			height: 60px;
			width: 100%;
			background: -webkit-linear-gradient(top, rgba(254, 254, 254, 0), #fff);
			background: linear-gradient(to bottom, rgba(254, 254, 254, 0), #fff);
		}
	}
	.card__info.bg {
		p:after {
			background: linear-gradient(to bottom, rgba(254, 254, 254, 0), #f5f5f5);
		}
	}
	.valid-date {
		margin-top: 5px;
		color: $text-muted;
		i {
			color: $accent;
			font-size: 18px;
			vertical-align: middle;
		}
	}
	.badge-deal {
		position: absolute;
		top: 15px;
		left: 0;
		background-color: red;
		padding: 3px 7px;
		box-shadow: 2px 2px 3px rgba(#333, .2);
		border-radius: 0 4px 4px 0;
		color: #fff;
	}
}

.section-book-bottom {
	padding: 45px 0;
	.tabs-wrap {
		margin-top: 0;
	}
}

////////// ITEM AIRLINE

.item-airline {
	margin: 30px;
	width: 90%;
	position: relative;
	.title {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 10px;
		color: $primary;
	}
	.img-wrap {
		float: left;
		width: 100px;
		height: 70px;
		border: 1px solid #ddd;
		border-radius: 7px;
		overflow: hidden;
		position: relative;
		z-index: 3;
		img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
		}
	}
	.text-wrap {
		margin-left: 120px;
		position: relative;
		z-index: 3;
		p:first-of-type {
			height: 90px;
			overflow: hidden;
			display: block;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 0px;
				bottom: 0px;
				right: 0px;
				height: 60px;
				width: 100%;
				background: -webkit-linear-gradient(top, rgba(254, 254, 254, 0), #fff);
				background: linear-gradient(to bottom, rgba(254, 254, 254, 0), #fff);
			}
		}
	}
}
.item-airline:after {
	content: "\f072";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	font-size: 120px;
	color: #f2f2f2;
	bottom: -30px;
	right: 0;
	z-index: 1;
}

.block-cform {
	border-radius: 15px;
	margin: 30px;
	overflow: hidden;
	padding: 0 !important;
	box-shadow: 0 0 15px rgba(#999, .4);
	.panel-body {
		background-color: #eee;
	}
}

.blok-contact {
	margin: 30px;
	p {
		margin-bottom: 20px;
	}
	span {
		display: inline-block;
	}
	.val {
		margin-right: 15px;
		width: calc(100% - 150px);
	}
	.title {
		font-weight: 500;
		margin-right: 15px;
		width: 70px;
		color: $accent;
		vertical-align: top;
	}
}

////////// INSURANCE
.section-intro-insurance {
	background-color: #7ad7c5;
	padding-top: 80px;
	position: relative;
	background-image: url('../images/bg/hotel-intro-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 650px;
}

///////// DEMO CARD
.demo-card {
	width: 23.7%;
	float: left;
	margin: 7px;
	margin-bottom: 15px;
	opacity: .7;
	padding: 7px;
	display: block;
	background-color: #fff;
	border-radius: 7px;
	img {
		width: 100%;
	}
}

.item-blog {
	.title {
		margin-bottom: 15px;
	}
	.img-wrap {
		max-width: 300px;
		float: left;
	}
	.text-wrap {
		overflow: hidden;
		padding-left: 15px;
	}
}

.grid-item {
	float: left;
	width: 33%;
	margin-right: 0.3%;
}
.item-branch {
	margin-bottom: 30px;
	.title {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 16px;
	}
	h6 {
		font-weight: 500;
		margin-bottom: 7px;
	}
	i {
		color: $accent;
		margin-right: 3px;
	}
	p {
		font-size: 12px;
		color: #666;
	}
}
@media (max-width: 768px) {
	.grid-item {
		width: 100%;
	}
}

.item-faq.active {
	.title i {
		transform: rotate(180deg);
		transition: transform 350ms;
	}
}
.item-faq {
	margin-bottom: 10px;
	margin-top: 10px;
	img {
		margin-left: 15px;
		border-radius: $radius;
		width: 100%;
		max-width: 500px;
		margin-bottom: 10px;
	}
	.title {
		position: relative;
		padding: 15px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.4;
		a {
			display: block;
			padding-left: 25px;
		}
		i {
			color: $accent;
			margin-right: 5px;
			transition: transform 350ms;
			position: absolute;
			left: 15px;
		}
		@include linearGradient(#fff, #f2f2f2);
		border: 1px solid #efefef;
	}
	.info-wrap {
		box-shadow: inset 0 0 30px #f2f2f2;
		border: 1px solid #eee;
		border-top: 0;
	}
	p {
		line-height: 1.5;
	}
}

.nav-pages-lg {
	margin-bottom: 15px;
	a {
		padding: 15px 25px !important;
		font-size: 18px;
	}
	.active a {
		background-color: $accent !important;
	}
}

.btn-airline-info {
	padding: 30px 15px;
	margin-bottom: 30px;
	color: #fff;
	text-align: center;
	position: relative;
	width: 100%;
	float: left;
	.btn-hover {
		position: absolute;
		@include linearGradient($accent2, $accent);
		display: block;
		padding: 7px 15px;
		border-radius: 30px;

		bottom: -15px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
	}
	border-radius: 7px;
	@include linearGradient($primary, $primary2);
	display: block;
	.city {
		width: 40%;
		float: left;
		font-size: 16px;
	}
	.icon {
		width: 20%;
		float: left;
		padding-top: 15px;
	}
}
.btn-airline-info:hover {
	color: #fff;
	.btn-hover {
		opacity: 1;
		color: #fff;
	}
	.btn-hover:hover {
		background-image: none;
		background-color: $accent;
	}
}
