/* ================ Profile styles ==================  */
.user-welcome-wrap{ position:relative;
	margin:20px 0; 
	color:#fff;
	.btn-edit-avatar{position:absolute; font-size:12px; bottom:2px; left:40px; z-index:5; color:$accent; background-color:#fff; border-radius:100%; width:22px; height:22px; text-align:center; line-height:22px; }
}
.avatar-wrap{overflow:hidden; width:60px; height:60px; background-color:#fff; background-repeat:no-repeat;
  margin-right:10px; border-radius:100%; border:1px solid $primary;
	img{height:100%; width:100%;  object-fit: contain;}
}
.text-avatar{ padding-top:7px; 
	.name{font-size:18px;}
}

.block-info-profile{border:1px solid #eee; margin-bottom:15px; padding:15px;
	.title{margin-bottom:10px; font-weight:500; font-size:16px; color:$accent}
	p{margin-bottom:5px;}
}

.list-summary-profile{list-style:none;}

.nav-profile{
	> li{
		border-bottom:1px solid $bg;
		i{font-size:20px; vertical-align:middle; margin-right:7px; color:$accent2}
		> a:hover, a:focus{color:$accent; background-color:#f9f9f9}
	}
	> li.active{background-color:#FFF2DF; }
	> li:last-child{border-bottom:0;}
	li.active{
		a{border-left:1px solid $accent; }
	}
	.submenu{ list-style:none; background-color:#fff4e4;
		li{ border-bottom:none;
			a{display: block; border-top: 1px solid #ffe4ba;  padding:10px 15px; padding-left: 42px;}	
			&:hover{background-color:#fff0da;}
		}
		li.active{background-color:#ffe6c0;}
	}
}

.profile-balance-block{margin:15px 0; padding:10px; min-width:300px; position:relative; border-radius:8px; box-shadow:inset 0 0 4px rgba(#000, .4); @include linearGradient(#1FA7C6, #1378A3);
	i{font-size:46px; font-weight:medium; float:left; margin-right:10px; color:rgba(#fff, .3);}
	.icon-round{width:45px; height:45px; font-size:32px; line-height:45px;  border-radius:100%; color:#1378A3; background-color:$lightblue; text-align:center; }
	small, big{line-height:1.3;}
	small{display:block; color:#BAF3FF}
	big{font-size:26px; font-weight:500; color:#98DCEA;  text-shadow:0 2px 0 rgba(#000,.3)}
	a{color:#BAF3FF; line-height:1.2; font-size:12px; margin-top:5px; margin-right:7px;}
}


.list-summary-profile{
	li{ margin-bottom:15px; vertical-align:middle; color:$text-muted}
	.icon-wrap{width:32px; height:32px; display:inline-block; border-radius:100%; float:left; margin-right:10px; background-color:#FFEFD3; text-align:center;
		i{line-height:32px; font-size:20px; color:$accent}
	}
	.title{ float:left;  display:inline-block; line-height:1.1; font-weight:normal; margin-top:3px;}
	.num{float:right; font-size:20px; display:inline-block; font-weight:500;  }
}

.profile-topbar{background-color:#DDF6FA; padding-left:15px; padding-right:15px; 
	&:after { content:""; display:table; clear:both; width:0; height:0;}
	.nav{
		li a{font-size:12px;   color:$primary; font-weight:500; padding-top:10px; padding-bottom:10px;
			&:hover{background-color:transparent; color:$accent}
		}
		li.active a{border-bottom:2px solid $accent; color:$accent}
	}

	.icontext{
		.icon{background-color:$lightblue}
		.text{color:$lightblue}
	}
	
}


.list-profile-traveller{ list-style:none;
	li{border-bottom:1px solid #eee; padding:10px;
		.avatar-wrap{width:50px; height:50px; text-align:center; border-color:#ccc; background-color:#ccc;
			i{font-size:32px; color:$bg; line-height:45px;}
		}
		.action{padding:10px 0;}
		a{font-size:14px; vertical-align:middle; margin:10px; }
		.btn-view{ color:$accent; }
		.btn-del{ font-size:18px;  color:$text-muted; &:hover{color:red} }
		&:hover{background-color:#eee; transition:.4s;}
	}
}

.hotel-overview-profile{
	.img-wrap{height:120px; overflow:hidden;  border-radius:$radius-sm;
		img{width:100%;     min-height: 100%;}
	}
	.info-wrap{padding-left:10px; overflow:hidden; margin-top:-6px;}
	.title{color:$primary; margin:5px 0; font-size:14px; font-weight:500;}
	.img-rating{height:12px; width:auto; vertical-align:middle; margin-right:7px;}
	small{color:$text-muted}
}

.item-mybooking{padding:7px; margin-bottom:15px;
	border:1px dashed #ccc; box-shadow:inset 0 0 30px #eee;
	.mybooking-side{border-left:1px solid #eee;}
	.row-trip:first-of-type {  border-bottom: 1px solid #eee;}
	.row-trip:last-child {  border-bottom: 0;}
	.info-class{ margin-left:15px; padding-left: 32px; position: relative; line-height:1.2;
		i{color: #EC6F23;  position: absolute; left: 0;}
	}
	.mybooking-side{ 
		.dropdown .btn i{color:#999; font-size:14px;}
	}

	.hotel-pricing-wrap {
		color:#999;
		i{color:$accent; width:20px;}
		.val {  width: 150px; 	}
	}
	.hotel-overview-aside .img-wrap{height:140px}
}

.block-subagent{
	.avatar-wrap{display:block; width:100px; height:100px; border:5px solid #ccc;}
	padding:30px; margin:30px; background-color:$bg; border-radius:10px; box-shadow:0 5px 20px rgba(#C6CED2, .6);
	.icontext{ margin-bottom:20px; float:left; width:100%;
		.text{margin-top:5px; color:$accent; font-weight:500;}
	}
}
