ul.list-transfer-option {
	margin-bottom: 10px;
	list-style: none;
	white-space: nowrap;
	overflow-x: hidden;
	color: $text;
	li {
		height: 23px;
		font-size: 12px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: 20px;
	}
	i {
		margin-right: 7px;
		width: auto;
		color: #c4c4c4;
	}
	.vehicles-selector {
		border: none;
	}
}

.item-transfer {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	max-height: 284px;
	background-color: #fff;
	border-radius: $radius;
	margin-bottom: 15px;
	.aside-left {
		border-right: 1px solid #aaaaaa;
		min-height: 250px;
	}
	.img-wrap {
		padding: 10px;
		border-radius: 4px 0 0 4px;
		height: 190px;
		text-align: center;
		overflow: hidden;
		background-color: #fff;
		position: relative;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	.info-wrap {
		width: 65%;
	}
	.text-wrap {
		padding: 15px;
	}
	.order-wrap {
		padding: 15px;
	}

	.price-wrap {
		text-align: center;
		.price-old {
			display: block;
			color: #ff4949;
			font-size: 18px;
		}
		.price {
			display: block;
			font-size: 22px;
			font-weight: bold;
			color: #113f6d;
		}
		.currency {
			font-size: 16px;
			color: #999;
		}
	}
	.title {
		margin-bottom: 15px;
		font-weight: 500;
		color: $primary;
	}
	.part-top {
		height: 40px;
		display: block;
		width: 100%;
		margin-top: -15px;
		text-align: center;
		span {
			display: inline-block;
			text-align: center;
			padding: 3px 10px;
			border-radius: 0 0 8px 8px;
			color: #fff;
		}
		span.badge-green {
			background-color: #40c84f;
		}
		span.badge-red {
			background-color: #ff6666;
		}
	}
	.transfer-main-info {
		min-height: 240px;
	}
	small {
		font-weight: 300;
	}
	.label-grey {
		font-size: 13px;
	}
	.label-airport {
		padding: 3px 6px;
		border: 1px solid $accent;
		color: $accent;
		display: inline-block;
		line-height: 1.2;
		background-color: #eee;
		border-radius: 4px;
		font-size: 13px;
	}

	.info-transfer-rental {
		float: left;
		width: 100%;
		padding: 0px 10px 0px 10px;
		p {
			margin: 0;
		}
		.logo-rental {
			img {
				max-width: 60px;
			}
			.text-dots {
				max-width: 65%;
			}
		}
		.rating-wrap {
			margin-bottom: 7px;
		}
	}
}

.transfer-booking {
	margin: 10px 15px;
	.item-info {
		margin-bottom: 0px;
		i {
			color: #c4c4c4;
			font-size: 20px;
		}
		.title {
			color: #c4c4c4;
			margin-left: 23px;
			font-size: 13px;
		}
	}
	.val {
		margin-left: 20px;
		color: #4a4a4a;
	}
}
.transfer-form {
	margin: 10px;
}

.ticket-detail {
	.heading-ticket {
		.transfer-par {
			font-size: 14px;
			color: #4a4a4a;
			padding: 10px;
			line-height: 20px;
		}
	}
}

.transfer-total-cost {
	color: $accent !important;
	.val {
		color: $accent !important;
	}
}
.switch-wrap {
	p {
		float: left;
		margin-left: 30px;
		font-size: 16px;
		color: $accent;
		font-weight: bold;
	}
	.switch {
		display: inline-block;
		width: 60px;
		height: 30px;
		transform: translateY(50%);
		position: relative;
		top: -20px;
		margin-left: 10px;
		.slider {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			color: #fff;
			font-size: 14px;
			border-radius: 30px;
			background: #fff;
			cursor: pointer;
			border: 4px solid transparent;
			overflow: hidden;
			transition: .4s;
		}
		.slider:before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			background: $accent;
			border-radius: 30px;
			transform: translateX(-30px);
			transition: .4s;
		}
		.slider:after {
			position: absolute;
			content: "NO";
			width: 100%;
			height: 100%;
			color: $accent;
		}
		input {
			display: none;
		}
		input:checked + .slider:before {
			transform: translateX(30px);
			background: #fff;
		}
		input:checked + .slider:after {
			content: "";
		}
		input:checked + .slider {
			background: $accent;
		}
	}
}
