$primary: #01579B; 
$primary2: #113F6D; // original from logo

$lightblue:#25C2DA;

$accent: #EC6F23; // original from logo
$accent2: #FF9800; 

$bg: #F5F5F5;
$bg2: #f2f2f2;

$element: #D1D1D1;

$text: #333;
$text-muted: #8B8B8B;

$radius:7px;
$radius-sm:7px;