/* ==================== INCLUDE FONTS ======================= */
// @import url(../fonts/open-sans/font.css);
// @import url(../fonts/roboto/font.css);

@import "vars";
@import "mixins";

/* ================== COMMON =================== */
@import "base";
@import "home";
@import "flight-listing";
@import "flight-booking";
@import "flight-confirm";
@import "login-register";

@import "hotel-home";
@import "hotel-listing";
@import "hotel-detail";
@import "hotel-booking";

@import "cars";
@import "transfer";
@import "offer";

@import "flight-home";
@import "pages";
@import "insurance";
@import "destinations";
@import "profile";

/* ================== HEADER =================== */
@import "page_parts/header";

/* ================== FOOTER =================== */
@import "page_parts/footer";

/* ================== SIDEBAR =================== */
@import "page_parts/sidebar";

/* ================== COMPONENTS  =================== */
@import "components/buttons";

/* ================== HELPERS - additional styling =================== */
@import "helpers/helpers";

/* ================== HELPERS -  restyling =================== */
@import "helpers/bootstrap-overwrites";
@import "helpers/jqueryui-overwrites";

.country-select {
  height: 44px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  background-color: #fff;
}
