body {
    color: #000;
    background: #fff;
}
@page {
      margin:1cm;
}
.material-icons, .btn, button, a {
  display: none !important;
}   
h2, h3, h4 {
   page-break-after: avoid!important;
}
.subheading, .title-text{page-break-after: avoid;}

* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
.print-hide{display:none}

.shape-airplane, .shape-hotel{
    display:none;
}

 .title-text, .subheading{font-size:20px!important; 
    color: #000;
    margin-bottom:0px; margin-top:20px;
    font-weight: normal;
    background-color: #ddd;
    padding: 7px;
  }


.layover { border:1px solid #ddd;
    position: relative;
    display: block; color:#000;
    min-height:25px!important;
    width: auto; margin-bottom:5px; 
    text-align:center;
}
.layover strong{
      background-color: #fff;
      display:inline;
      position: static; 
      left: auto; 
      display: block; 
      transform:none;
      top:auto!important;
      padding:2px;
}

.info-airline{border:1px solid #ccc; padding:3px}


.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666667%;
}
.col-sm-10 {
  width: 83.33333333%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666667%;
}
.col-sm-7 {
  width: 58.33333333%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666667%;
}
.col-sm-4 {
  width: 33.33333333%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.66666667%;
}
.col-sm-1 {
  width: 8.33333333%;
}