@import "vars";

.desktop-view {
	display: block;
}

@media (max-width: 1200px) {
	.nav > li > a {
		padding: 10px 8px;
	}

	.item-feature .text-wrap {
		width: 100% !important;
	}

	.owl-nav {
		.owl-next {
			right: -25px !important;
		}
		.owl-prev {
			left: -25px !important;
		}
	}

	.form-inline .form-control {
		display: inline-block;
		width: 150px;
		vertical-align: middle;
	}

	.room-deal-wrap {
		min-height: 50px;
	}
}
@media (max-width: 1024px) {
	.desktop-view {
		display: none;
	}
	.mobile-view {
		display: block !important;
	}

	.section-pagetop {
		margin-top: 0px;
	}
	.logo {
		height: 40px;
	}
	.navbar-top .navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.form-single-wrap {
		margin-bottom: 15px;
	}
	.form-group-wrap {
		margin-bottom: 15px;
	}

	.item-feature .text-wrap {
		width: 100% !important;
	}

	.login-register-wrap .tab-pane {
		padding: 10px;
	}

	.app-get-wrap .img-arrow {
		left: -100px;
	}

	.nav-menu-cash > li img {
		max-width: 120px !important;
	}

	.section-mobile {
		.info-mobile {
			padding-left: 60px;
		}
	}

	.hotel-edit-wrap .row > div[class^='col'] {
		padding: 7px 0 7px 7px;
	}

	.block-logos-rental {
		max-width: 100%;
		padding: 15px;
		margin-bottom: 30px;
		margin-top: 15px;
	}
}
@media (max-width: 992px) {
	.owl-nav {
		.owl-next {
			display: none !important;
		}
		.owl-prev {
			display: none !important;
		}
	}

	.price-wrap p .val {
		display: block;
		float: none;
	}
}
@media (max-width: 768px) {
	.section-pages-intro.page-offers {
		background-image: url('../images/bg/bg-offers.jpg');
		background-position: right;
	}
	.price-wrap p .val {
		display: inline-block;
		float: right;
	}

	.alert-login-booking {
		.form-group {
			margin-bottom: 10px;
		}
	}

	.section-cars-main .cars-white {
		margin-bottom: 30px;
	}

	/* listing page */
	#filter-area {
		display: none;
		position: absolute;
		z-index: 90;
		left: 0;
		width: 80%;
		background-color: #eee;
		padding: 10px;
		border-radius: 8px;
	}

	.login-register-wrap {
		.nav > li {
			width: 50%;
			float: left;
			margin-bottom: -1px;
		}
	}

	.item-flight .item-flight-left {
		min-height: 120px !important;
	}

	.airline-multi img {
		max-width: 45px;
		height: auto;
	}
	.subheading {
		padding-top: 4px;
		padding-bottom: 4px;
		.title {
			line-height: 1.4;
		}
	}
	.layover {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.list-mobile li {
		min-width: 250px;
	}

	.item-feature .text-wrap {
		width: 100% !important;
	}

	.navbar-brand {
		padding: 3px;
	}
	.navbar-top .navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #eee;
	}

	.occupancy-dropdown {
		left: -30px;
		min-width: 320px !important;
	}

	.section-pagetop {
		margin-top: 0;
	}
	.section-pagetop .row > div[class^='col'] {
		border-bottom: 1px solid rgba(#000, .1);
		padding-top: 15px;
		min-height: 70px;
	}
	.modal-dialog {
		margin-bottom: 60px !important;
	}
	.modal-lg {
		width: 95%;
	}
	.modal-map-filter {
		bottom: 0;
		height: auto;
		left: 0;
		padding: 8px;
		position: absolute;
		right: 0;
		top: auto;
		z-index: 9;
		-webkit-border-radius: 45px/44px 44px 45px 45px;
		-moz-border-radius: 45px/44px 44px 45px 45px;
		border-radius: 8px;
		-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .16);
		-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .16);
		box-shadow: 0 2px 10px rgba(0, 0, 0, .16);
		margin: 0 auto 20px;
		min-width: 90%;
		display: table;
		opacity: 0.8;
		.checkbox {
			margin: 3px;
			border: 4px solid #fff;
			float: left;
			margin-right: 10px;
			background-color: #fff;
		}
	}

	.blok-options-tab {
		padding: 7px;
		.choose-wrap {
			margin-bottom: 10px;
		}
		.nav-pills > li {
			margin-bottom: 5px;
			max-width: 32.5%;
			a {
				display: inline-block;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				width: 99.5%;
			}
		}
	}

	.tabs-wrap {
		margin-top: 50px;
	}
	.tabs-wrap .tab-content {
		padding: 15px !important;
	}
	.section-intro,
	.section-intro-hotel {
		margin-top: 0px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.section-intro-car {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.intro-text-wrap {
		margin-top: 30px;
	}

	.container {
		width: 100% !important;
	}
	.fixed-top {
		position: none;
	}
	/* home page */
	.tabs-wrap .nav-tabs > li a {
		padding: 10px 15px;
	}
	.item-feature {
		margin-top: 30px;
	}
	.item-why {
		min-height: 270px;
	}
	.card-offer {
		margin-bottom: 30px;
	}
	.card {
		margin-bottom: 30px;
	}
	.item-explore {
		margin-bottom: 30px;
	}
	.app-get-wrap {
		padding: 15px;
		.img-get {
			vertical-align: middle;
		}
	}

	.trip-type span {
		padding: 6px 15px;
	}

	.info-duration,
	.info-icons {
		float: left;
		display: block;
	}
	.info-duration {
		margin-top: 7px;
	}
	.info-buy .part-top {
		height: auto;
	}
	.item-flight {
		.row-trip > [class*=col-]:last-child {
			min-height: auto;
		}
		.item-flight-left {
			border-right: none;
		}
		.info-buy {
			border-top: 1px solid #ddd;
			br {
				display: none;
			}
		}
	}
	.layover strong {
		left: 55%;
		min-width: 200px;
	}

	.info-flight-way {
		margin-top: 7px;
	}

	.form-single-wrap {
		margin-bottom: 15px;
	}

	.section-footer {
		.title {
			margin-top: 15px;
		}
	}

	.ui-datepicker-multi-2 .ui-datepicker-group {
		width: 100% !important;
	}
}
@media all and (max-width: 620px) {
	/* mobile devices */

	.tabs-wrap .nav-pills li {
		text-align: center;
		width: 25%;
		float: left;
		margin: 0;
		i {
			display: block;
			margin-right: 0;
			margin-bottom: 5px;
			font-size: 22px;
		}
		a {
			padding: 10px 7px !important;
			margin-bottom: 7px;
			font-size: 13px;
		}
	}

	.room-type-wrap main {
		border-left: 0;
	}
	.room-deal-wrap {
		border-left: 0;
	}
	.item-room {
		padding-left: 0;
	}
	.section-mobile {
		.info-mobile {
			padding-left: 0px;
		}
	}
	.section-footer {
		.title-side {
			margin-bottom: 10px;
		}
	}
	.ui-datepicker {
		.ui-datepicker-buttonpane {
			display: block !important;
		}
	}

	.nav-pages-lg a {
		padding: 10px 15px !important;
		font-size: 14px;
	}

	ul.ui-autocomplete {
		width: 80% !important;
		.ui-menu-item-wrapper {
			span:nth-child(2) {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				max-width: 40%;
				line-height: inherit;
			}
		}
	}

	.trip-type {
		width: 100%;
		label {
			width: 33.333333%;
			text-align: center;
		}
		span {
			padding: 6px 0px;
			font-size: 12px;
		}
	}
	.advanced-check {
		.checkbox {
			margin-left: 0;
		}
	}
	.item-why {
		height: 300px;
	}
	.footer-bottom {
		.col-xs-6 {
			min-height: 250px;
		}
	}

	#ui-datepicker-div {
		button.ui-datepicker-current {
			display: none;
		}
		button.ui-datepicker-close {
			display: block;
			float: none;
			width: 99%;
			padding: 10px;
			text-align: center;
		}
	}

	.section-footer .flags-wrap img {
		width: 50px;
		height: auto;
	}
	.passenger-dropdown {
		width: 100%;
	}
	#ui-datepicker-div {
		left: 0 !important;
		bottom: 0 !important;
		top: auto !important;
		width: 100% !important;
		position: fixed !important;
	}
	.panel-voucher .panel-body {
		padding: 7px;
	}
	.ticket-detail header .title {
		line-height: normal;
		text-indent: 0;
		width: 50%;
	}
	.ticket-detail {
		.key-val {
			line-height: normal;
			margin-bottom: 15px;
		}
		var {
			display: block;
			float: none;
		}
		.label-green {
			float: none !important;
		}
	}

	.blok-confirm {
		margin-bottom: 15px;
		.btn {
			white-space: normal;
			i {
				display: block;
			}
		}
	}
	.subheading .title {
		width: 85%;
	}
	.m-hide,
	.mobile-hide,
	.mobile-hidden,
	.hide-mobile,
	.hidden-mobile {
		display: none !important;
		height: 0;
	}

	.layover strong {
		left: 65%;
		min-width: 250px;
	}

	#multi-block {
		> form > .row-sm:first-child {
			position: relative;
			padding-top: 100px;
		}
		> form > .row-sm > div:nth-of-type(3).col-sm-11 {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	.heading-tab-details .nav-tabs > li > a {
		padding: 15px 20px;
	}

	.ui-datepicker td .ui-state-default {
		padding: 5px 8px;
	}

	.timer-block {
		margin: 30px 0;
		margin-left: 7px;
		padding: 5px;
		min-width: 140px;
		i {
			font-size: 36px;
			font-weight: medium;
			float: left;
			margin-right: 7px;
			color: rgba(#fff, .3);
		}
		small,
		big {
			line-height: 1.1;
		}
		small {
			display: block;
			color: #baf3ff;
		}
		big {
			font-size: 18px;
			font-weight: 500;
			color: #98dcea;
			text-shadow: 0 2px 0 rgba(#000, .3);
		}
	}
	.ticket-baggage {
		padding-top: 7px;
		background-color: #f9f9f9;
		min-height: auto;
	}
	.tripadvisor {
		float: left;
		margin-bottom: 15px;
	}
}
