@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic');

body, form {font-family: 'Cairo', sans-serif!important; font-size:16px!important;}

/// rtl page overwrites
.owl-carousel{direction: ltr!important;}
select.form-control{
	background-position: left 10px center;
}


 .checkbox{
 	padding-right:30px;
 	 ins {
	 	margin-left:7px;
	    top: 0px;
	    left:auto; right:0;
	}
 }

 .btn-only-check{left:0; right:auto;}

 .select-wrap {
 	.myval { padding-right: 42px;  padding-left:15px; }
 	.arrow {right: auto; left:12px; }
 	i:first-child {left: auto; right: 12px; }
 	.btn-select {
	    padding-right: 42px!important; padding-left:15px!important;
	    span{ text-align:right!important;}
	}
}

.avatar-wrap{margin-left:10px; margin-right:0;}
.item-mybooking .mybooking-side {
    border-right: 1px solid #eee; border-left:0;
}


.form-single-wrap {
	.arrow { left: 12px; right:auto;}
	input[type='text']:not(.form-control), input[type='date'], .input-static {
	    padding-right: 40px;
	    padding-left: 10px;
	}
}

.form-group-wrap{ 
	.input-wrap input[type='text']{
	    padding-right:42px; 
	    padding-left:10px;
	}
}
.input-wrap { 
	i:first-child, .img-icon {right: 12px; left:auto; }
}
.date-wrap{float:right; 
&:first-child { border-left: 1px solid #D1D1D1; border-right:0; }
}
.btn-remove-return{border-radius:0;}



.item-flight{
	.item-flight-left { border-left: 1px dashed #999; border-right:none;}
}
.info-duration{padding-right:28px; padding-left:0;
	i{right:0; left:auto; top:0;}
	.time{font-size:14px; font-weight:500; padding-top:2px; display:inline-block}
}



.travel-stops{animation:none;}
.badge-list {left:0; right:auto}

.checkbox {
	.img-wrap{vertical-align:top}
	.text-wrap { width: 125px;}
}

.ticket-detail{
	header .alert-stops {float:left;}
}

.panel .num-step {left:auto; right:-16px; }
.price-wrap p .val { float: left; }
.alert-baggage{left: 0; right:auto;}
.img-mobile-mockup {left:auto; right:0;}
.info-mobile {
    padding-right: 30px;
    padding-left:0;
}
.app-get-wrap .img-arrow{
	display:none;
}

.nav-payment-type > li.active > a:after{
	left: -20px; right:auto; border-left-color:transparent; border-right-color:#EC6F23; 
}
.alert-primary:after{
	right: -14px; left:auto; border-right-color:transparent; border-left-color:#113F6D;
}


.card-hotel-main .title-left-wrap { direction: ltr; }

.list-inline li {float: right; }
.list-bullet li::before{margin:0; margin-left:10px;}

.list-amenity li:before { right: 0; }
.list-amenity li {
    padding-right: 25px !important;
}
.hotel-edit-wrap .row > div[class^='col']{padding-right:15px;}
.room-type-wrap main { border-right: 1px solid #ddd; border-left:0;}
.img-room-wrap {
    margin: 15px 0 15px 15px;
}
.room-amenity-wrap {
    margin-left: 15px; margin-right:0;
}
.item-room {  padding: 15px;   padding-left: 0; }
.room-select-wrap {
    border-left:none;
}

.alert-points i {left:15px;}
.hotel-pricing-wrap{
	.guest-wrap .val {float:left}
	.dates-wrap p{float:right!important; }
	.dates-wrap .col-date-out {border-left:0; border-right: 1px solid #ddd; }
	.dates-wrap .col-date-in {border-right:0; border-left: 1px solid #ddd; }
} 
.nav-payment-type i {margin-left:10px;}

.btn-way-switch{right:auto; left:15px;}
.trip-type label{float:right;}

.item-mybooking .info-class {
    margin-right: 15px; margin-left:0;
    padding-right: 32px; padding-left:0;
    i{right: 0; left:auto; }
}


.table-round { margin-bottom:15px;
  border-collapse: separate;  border-spacing: 0;   width: 100%;
  tr td {vertical-align: middle;
    border-left: 1px solid #cedfe4;
    border-bottom: 1px solid #cedfe4;
    padding: 10px;
  }
  tr td:first-child {
    border-right: 1px solid #cedfe4;
  }
  tr:first-child td {
    border-top: 1px solid #cedfe4;
  }
  tr:first-child td:first-child {
    border-top-right-radius: 8px; border-top-left-radius: 0px;
  }
  tr:first-child td:last-child {
    border-top-left-radius: 8px; border-top-right-radius:0px;
  }
  tr:last-child td:first-child {
    border-bottom-right-radius: 8px; border-bottom-left-radius: 0px;
  }
  tr:last-child td:last-child {
    border-bottom-left-radius: 8px;  border-bottom-right-radius: 0px;
  }
}


.form-group-wrap {
  .same-location-check-wrap{left:0; right:auto;}
  .checkbox {
      padding-right: 20px;
  }
}
.item-car .car-main-info {
    border-left: 1px dashed #ccc!important; border-right:none!important;
    min-height: 240px!important;
}

.list-check li{
    padding-left:auto!important;
    padding-right: 25px !important;
    &:before{ right:0!important; left:auto!important;}
}

.car-item-add{
  .checkbox {
    float:right!important; margin-right:0!important;
  }
}

.section-pagetop{
  .item-info i, .item-info .img-icon {
      left:auto!important; right:0!important
  }
  .item-info span {
      margin-right: 28px!important;
  }
}

.modal-confirming.modal-car {
    direction: ltr!important;
}

.list-simple{
  li{padding-right:20px; padding-left:0;}
  li::before {
    left:auto; right:0;
  }
}

.shape-airplane{margin-left:10px;}

.info-stops{
  .place-wrap, .way-wrap{float:right}
  .travel-stops .end {
    transform: scaleX(-1); left: 0; right:auto;
  }
  .place-wrap:first-child {
      text-align: left;
  }
  .place-wrap:last-child {
      text-align: right;
  }
}



.info-flight-way{
  .place-wrap-from {
      float: right;
      width: 35%;
      text-align: left;
  }
  .place-wrap-to {
      float: right;
      width: 35%;
      text-align: right;
  }
  .way-wrap {
    float: right;
  }
  .travel-stops .end {
    transform: scaleX(-1); left: 0; right:auto;
  }
}

.ltr{direction:ltr!important; text-align: right;}

.modal-confirming .plane{
    width: 120px;
    position: absolute;

    -moz-transform:none;
    -o-transform:none;
    -webkit-transform:none;
    transform:none;
}

@keyframes plane-to-right{
  0% {
      right:0%; left:auto!important; 
  }
  100% {
      right:100%; left:auto!important;
  }
}

