.section-footer{background-color:$primary; color:#9ABCD7; 
	.img-logo-footer{  width:120px; height:auto; margin-bottom:7px;}
	.list-footer{ list-style:none; margin-bottom:20px;
		li{ line-height:1.7; font-weight:300; color:#9ABCD7;}
		li a{color:#9ABCD7;
			&:hover{color:$accent2;}
		}
	}
	.title{ margin-bottom:7px; color:$lightblue; font-size:18px;}
	.title-side{color:$lightblue}
	p{ color:#9ABCD7;}

	hr{opacity:.3; margin:30px 0;}
	.flags-wrap {margin:0;
		img{margin-right:7px; margin-top:7px;}
	}

	.form-subscribe{margin-top:3px;
		input{border:none;}
	}
	.social-buttons{margin-top:3px;}
	.select-lang{margin-top:3px;
			
		    background-color: #A2BAD7; border:none; font-size:12px; color:$primary;
	}

	.footer-features{ opacity:.8}
}


.footer-top{padding:30px 0; padding-bottom:30px; background-color:$primary; 
}

.footer-bottom{padding:30px 0; background-color:$primary2;
	.copyright{ float:left;  }
}
.footer-copyright{background-color:#042E61; color:rgba(#fff, .7); font-size:12px; padding:15px 0; }
	




