@media ( min-width:1200px ){
	.section-header {
		position: fixed;
		top:0;
		right: 0;
		left: 0;
		box-shadow: 0 1px 6px rgba(50,50,50,.18);
	    z-index:500;
		 @include linearGradient(rgba(#fff,.9), rgba(#fff,.05));
	}
}


	.logo{ float:left; height:50px;}
	.sitename{font-size:28px; color:#999; margin-top:30px}
	.slogan{font-size:14px; color:#ccc; }	




.header-top{ background-color:$primary; 
	ul.list-inline>li {margin-right:7px; margin-left:7px; color:rgba(#fff, .8); }
	a{color:rgba(#fff, .8); padding:7px; display:inline-block;}

	.list-inline{
	li{position:relative}
	li:hover{background-color:$primary2}
	li.dropdown.open .caret{transform:rotate(180deg)}
	li:last-child .dropdown-menu{left: auto; right:0; text-align:right}
	.dropdown-menu{
		border-radius:0 0 5px 5px; box-shadow:0px 5px 8px rgba(0,0,0,0.3);
		background-color:$primary2;
		min-width:100px; 
		margin:0;
	    top: 100%;
	    li{width:100%; list-style:none}
		li > a {
			width: 100%;
		    display: block;
		    padding:10px 15px;
		    clear: both;
		    color: #fff;
		    white-space: nowrap;
		    &:hover{color:$accent2; background-color:$primary}
			}
		}
	}
}

/* ================== navbar top ==================  */
.header-nav{ 
// border-bottom:1px solid rgba(255,255,255, 0.4); 
 }

.navbar-brand {
	    padding:10px 0; margin-right:30px;
	    line-height: 20px;
}

.navbar-top{margin:0; border:0;}
.navbar-top{
	.navbar-nav > li > a {padding-top:25px; color:$primary; padding-bottom:25px; text-transform: capitalize; font-size: 14px; font-weight:400;}
	.navbar-nav > li > a:hover {color:$accent; background-color:rgba(#fff,.4)}
	.navbar-nav > li > a:focus {color:$primary; background-color:rgba(#fff,.4) }

	.navbar-nav > .active > a {color:$accent; border-bottom:1px solid $accent2;  }
	.navbar-nav > .active > a:hover {color:$accent;  }
	.navbar-nav > .active > a:focus {color:$accent;  }

	.navbar-nav .open > a,
	.navbar-nav .open > a:hover{color:$primary;}
	.navbar-nav .open > a:focus {color:$primary;  }
}

.dropdown-menu{border:none; min-width: 100%;  }
.dropdown-menu 
	> li > a {
      padding:7px 15px;
      i{font-size:18px; margin-right:4px; color:$accent2}
}

.fixed-top{box-shadow:0 2px 3px rgba(0,0,0,.2); z-index:1200; background-color:#fff;
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	.navbar-nav > li > a {padding-top:15px; padding-bottom:15px;}
	.navbar-brand {
	    padding:0px;
	    line-height: 20px;
	}
}
