/* sidebar button */
.btn-price-alert {
  @include linearGradient($lightblue, #0899af); 
  line-height: 1.1; font-size:15px;
  color:#fff; border-radius: 6px; height: 42px;
  display:block; margin-bottom:15px; padding: 14px 15px;
  i{font-size:18px; margin-top:-3px; opacity:.5}

  &:hover{@include linearGradient($accent2, $accent);  color:#fff;}
  &:focus{color:#fff; outline:none; text-decoration:none;}
}

.panel-heading{
  .pull-right{margin-top:-3px;}
}

.panel-title a:after{ margin-top:4px;
  display:inline-block; color:$element; text-align:center; 
  content:"\f077"; font-family:FontAwesome;
}
.panel-title a.collapsed:after{
    content:"\f078";
}

/* ================ sidebar booking ================ */
.img-discount-wrap{ 
	img{max-height:60px;}
}

.alert-points{ position:relative;
  i{width:40px; height:40px; position:absolute}
  span{overflow:hidden; margin-left:36px; display:inline-block}
}

.slider-numbers-wrap{ min-height:35px;
	input{border:0; width:60px;} margin-top:10px;
	input.pull-right{text-align:right}
}

.filter-airlines-wrap{
	.checkbox{margin-bottom:5px;}
}

.checkbox{
  .img-wrap{width:52px; max-height:34px; margin-top:-3px; min-height:26px; vertical-align:middle; text-align:center; margin-bottom:10px; border:1px solid #ddd; border-radius:4px; display:inline-block; padding:1px;
    img{max-width:48px; max-height:30px;}
  }
  .text-wrap{display:inline-block; width: 150px; vertical-align:top; line-height:1.4}
}

.btn-group-view{ width:100%; 
    background-color: #dadfe2;
    color: #798992;
    height: 42px;
    border-radius: 6px;
    margin-bottom: 15px;
    .btn{ padding: 10px 15px; width:50%; }
    .btn:focus, .btn.focus{outline:0;}
    .btn.active{background-color:$accent; color:#fff;}
}

.checkbox:hover .badge-list{display:block; 
  .only{display:block;  }
}

.checkbox:hover .badge-list .only ~ .num{display:none}

.badge-list{text-align:center;  box-shadow:0 0 7px #fff, 0 0 2px #fff, 0 0 4px #fff;
  right:0px; top:0; position:absolute;
  .num{ color:#999; background-color:#eee;  padding:2px 10px; min-width:30px; border-radius:20px; font-size:12px;}
  .only{display:none; background-color:$lightblue; color:#fff;  padding:2px 10px; min-width:30px; border-radius:20px; font-size:12px;}
}

aside .checkbox .icon{ color:#C4C4C4; }

.title-aside{font-size:12px; font-weight:500; margin-bottom:15px;}

// .btn-view-map, .btn-view-listing{padding: 14px 15px; position:relative;
//     background-color: #ddd; border:10px solid $accent;
//    height:100px;
//     color: #fff;
//     border-radius: 7px;
//     margin-bottom: 15px;
//     img{width:100%; border-radius:4px; height:90px}
//     .btn{position:absolute; top:30%; left:50%; transform:translateX(-50%)}
// }
// .btn-view-map{background-image:url('../images/misc/map-btn.png');}
// .btn-view-listing{background-image:url('../images/misc/list-btn.png');}