/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  
  
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  margin-bottom:15px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

.owl-prev, .owl-next {
    line-height:50px;
    color:#999;
    width:50px;
    height:50px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    display: block!IMPORTANT;
    background-color: #fff;
    box-shadow:0 2px 4px rgba(50,50,50,.2);
    background-image:linear-gradient(to bottom,  #fff 0%,#E4E4E4 100%); /* W3C */;
    background: -moz-linear-gradient(top,  #fff 0%, #E4E4E4 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #fff 0%,#E4E4E4 100%); /* Chrome10+,Safari5.1+ */
}
.owl-prev:hover, .owl-next:hover{background: #EC6F23; color:#fff;}
.owl-prev{ left: -60px; content:"<"; }
.owl-next { right: -60px; content:">";}
