
/* ======= social icons======= */
.social-buttons{
  a{display: inline-block; background-color:#333; width:34px; height: 34px; border-radius:6px; text-align: center; color: #fff; line-height: 38px; }
  a:hover{color: #fff }
  i{font-size: 20px;}
  .facebook{background-color: #405D9D}
  .twitter{background-color: #2C99D7}
  .instagram{background-color: #C8046C}
  .youtube{background-color: #E52D27}
}

.btn-primary{background-color:$primary; border:$primary; 
	&:hover{background-color:$accent}
}

.btn-warning{background-color:#1691c9; border-color:#1691c9; 
	&:hover, &:focus{background-color:#1691c9d6; }
}

.btn-outline{border:1px solid $accent; color:$accent; background-color:rgba(#fff,.4);}

// .btn-normal{padding-top:10px; padding-bottom:10px; background-color:#eee; border:1px solid #ddd; color:$accent; box-shadow:inset 0 2px 2px #fff;}
.btn{
    i{vertical-align:middle; margin-right:5px; font-size:14px }
}
.btn-lg{
    i{font-size:18px }
}

.btn-round{border-radius:30px!important; padding-left:30px; padding-right:30px;}


.btn .caret{
	margin-left:4px; margin-top:-2px;
	border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.btn:not(.active).focus, .btn:focus{outline:none}
.btn-group, .input-group-btn {
  .btn-normal.active{ background-color:$accent; color:#fff; border-color: $accent;}
  .btn-default.active{ background-color:$accent; color:#fff; border-color: $accent;}
}

///////// btn normal
.btn-normal {
  color: $lightblue;
  background-color: #fff;
  border-color: #ddd;
  i{font-size:12px; margin-left:4px;}
}
.btn-normal:focus,
.btn-normal.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-normal:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-normal:active,
.btn-normal.active,
.open > .dropdown-toggle.btn-normal {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-normal:active:hover,
.btn-normal.active:hover,
.open > .dropdown-toggle.btn-normal:hover,
.btn-normal:active:focus,
.btn-normal.active:focus,
.open > .dropdown-toggle.btn-normal:focus,
.btn-normal:active.focus,
.btn-normal.active.focus,
.open > .dropdown-toggle.btn-normal.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-normal:active,
.btn-normal.active,
.open > .dropdown-toggle.btn-normal {
  background-image: none;
}
.btn-normal.disabled:hover,
.btn-normal[disabled]:hover,
fieldset[disabled] .btn-normal:hover,
.btn-normal.disabled:focus,
.btn-normal[disabled]:focus,
fieldset[disabled] .btn-normal:focus,
.btn-normal.disabled.focus,
.btn-normal[disabled].focus,
fieldset[disabled] .btn-normal.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-normal .badge {
  color: #fff;
  background-color: #333;
}