
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


.table-responsive{border:0;}

.form-group {
    margin-bottom:20px;
}

.popover{z-index:99;}

fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
  min-width: 0;
  padding: 30px;       
  position: relative;
  border-radius:4px;
} 

.has-error {
  .control-label, .help-block{color:red; font-size: 13px;}
  .form-control, .bs-invalid {  border-color: #e80500;}
}
.help-block{margin-bottom:5px;}
.popover{
  .popover-title{font-size:15px; padding-top:10px; padding-bottom:10px; color:#999}
  .close{margin-top:-4px;}
}
legend
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px; 
  width: 50%; 
  color:$lightblue;
  border: 1px solid #ddd;
  border-radius: 4px; 
  padding: 5px 5px 5px 10px; 
  background-color: #ffffff;
}

.checkbox{margin-bottom:15px;}
.checkbox-inline{margin-top: 0;}
.input-group{width:100%}
.dropup .caret {
  content: "";
  border-bottom: 0;
}

.progress { height:10px; margin-bottom:15px; background-color:#fff;}
.progress-bar{ 
    animation-name: progress_animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    float:left;
    width:10%; height:20px;
}
@keyframes progress_animate {
    0% {width:0;}
    100% {width:100%;}
}

.control-label{font-weight:bold; color:$primary; line-height:1.2;
  padding-top: 7px;
   
}

.has-warning {
  .control-label{color:$accent;}
  .form-control { border-color: $accent; color:$accent;}
  .input-group-addon {
    color: $accent;
    background-color: #fcf8e3;
    border-color: $accent;
  }
}
// .bootstrap-select{
//   .btn-default{background-image:none!important;}
//   .dropdown-menu {
//     position: absolute;
//     top: 115%;
//   }
// }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline:none!important; }
.bootstrap-select .dropdown-toggle:focus {outline:none !important}
.bootstrap-select {.btn-select{background-color: #fff;}} 

select.form-control{
    background-image: url(../images/icons/arrow-down.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    line-height: normal;
}
.panel{border-radius:7px;}
.panel-default{ border-radius:$radius-sm; background-color:#fff; margin-bottom:15px; border:0; box-shadow:0 1px 2px rgba(0,0,0,.1);
	.panel-heading{
	    border-top-left-radius: $radius-sm;
	    border-top-right-radius: $radius-sm;
		@include linearGradient(#fff, #ececec); border-bottom:0; padding-top:15px; padding-bottom:15px}
	.panel-title{text-transform:uppercase; font-size:13px; color:$primary2; font-weight:500; text-shadow:0px 1px 0px #fff;}
}

.navbar .navbar-toggle {
    border-color: #ddd;
  .icon-bar {background-color: #888;}
}

.modal-lg{width: 75%;}

// .dropdown-menu {z-index:50!important}

.badge{ font-weight:normal; background-color:#44D5DC}

.input-group .form-control {  z-index: 1;  }

.text-warning{color:$accent;}
.text-danger{color:#dc2420}

.label{padding:4px 7px 2px; margin-right:2px;
	i{margin-right:3px;}
}
label{font-weight:normal;}

.form-horizontal .checkbox-inline{
   padding-top:0; margin-top:7px
}

.input-group-addon{padding-top:3px; padding-bottom:3px}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 1px rgba(0, 0, 0, .1);
}
.btn-default:not(.active) {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}

.btn-info {
    color: #fff;
    background-color: $lightblue;
}

hr{margin-top:15px; margin-bottom:15px;}


.alert {
  i{vertical-align:middle}
  margin-bottom: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #bce8f1;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}
/* -------------------- Bootstrap gutter --------------------- */
.no-gutter{ margin-right: 0px;  margin-left:0px;}
.no-gutter{ padding-right: 0px;  padding-left:0px;}
.no-gutter > [class*='col-'] {    padding-right:0;     padding-left:0; }

.row-sm {  margin-right: -8px;  margin-left: -8px;}
.row-sm > [class*="col-"] {  padding-left:8px;  padding-right:8px;}
@media (min-width: 768px) {
	.col-5-1 {width:20%; float: left!important; } 
}

ul.row{
margin-right: -15px!important;
margin-left: -15px!important;
}