// .select-arrow{
//   &:after {
//         content:"\f0dd"; font-size:10px;
//         font-family:'FontAwesome';
//         position: absolute;
//         top:0px;
//         right:3px;
//         z-index:2;
//   }
// }

.mobile-view{display:none}

.title-content{margin-bottom:15px; margin-top:20px;}
.shadow{box-shadow: 0 5px 20px #ddd;}
.material-icons{vertical-align:middle}

.bg{ background-color:$bg}
.padding-section{padding-top:45px; padding-bottom:45px;}


.inline-block{display:inline-block}

.table-round { margin-bottom:15px;
  border-collapse: separate;  border-spacing: 0;   width: 100%;
  tr td {
    border-right: 1px solid #cedfe4;
    border-bottom: 1px solid #cedfe4;
    padding: 10px;
  }
  tr td:first-child {
    border-left: 1px solid #cedfe4;
  }
  tr:first-child td {
    border-top: 1px solid #cedfe4;
  }
  tr:first-child td:first-child {
    border-top-left-radius: 8px;
  }
  tr:first-child td:last-child {
    border-top-right-radius: 8px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }
}


.input-icon{position:relative;
  input{padding:8px 12px; padding-left:36px; height:40px;}
  i{position:absolute; color:#ccc;
    z-index: 2;
    left: 7px;
    font-size: 16px;
    width: 24px;
    text-align: center;
    padding: 10px 0;
    top: 2px
  }
} 

.key-val{margin-bottom:7px;
  span{font-weight:500;}
  var{ float:right}
}

.text-dots{ display:inline-block;
       text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
      width:99.5%;
      line-height: inherit;
}
.bg-white{background-color: #fff}
.text-grey{color:#ccc}
.text-opacity{color:rgba(#fff,.5)!important}
.text-primary{color:$primary2!important}
.txt-red{color:red}
.txt-green{color:#00c700 !important}
.txt-orange{color:$accent !important}

.boxed-warning{border:1px solid #a9e2dd; padding:10px; background-color:#edffff; color:$lightblue; margin-top:7px}

.info-baggage{border-top:1px solid #ddd; margin:0; padding:10px; text-align:center; color:$accent;  }

.alert-primary{border-radius:$radius; position:relative;
  background-color:$primary2; color:#fff;
  .close{color:#fff; opacity:.6}
  &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color:transparent;
    border-right-color:$primary2;
    border-width: 7px;
    margin-top: -7px;
  }
}

.icontext{ line-height:1.3;  
    .icon{float:left; color:#00c700; margin-top:4px;}
    .icon-round{width:40px; height:40px; font-size:20px; margin-top:0px; margin-right:7px; text-align:center; line-height:40px; background:$accent; border-radius:100%; display:block; color:#fff; }
    .text{display:block; color:#999; overflow:hidden; padding-left:7px; }
}

a[data-toggle='collapse'] .icon-action{transition: transform 350ms, -webkit-transform 350ms;}
a[data-toggle='collapse'][aria-expanded=true] .icon-action {

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon-shape{
  position:relative;
  width:60px;  height:60px;  line-height:60px; 
  font-size:32px; color:#fff; text-align: center;
  background:$primary; 
  display:inline-block; 
}
.iconbox{ position: relative; margin:15px 0;
  .text-wrap{ margin-top: 15px; }
  .title{  margin-bottom:10px;  }

  .bg-lightblue{background-color:$lightblue!important; color:#fff!important}
  .bg-orange{background-color:$accent!important; color:#fff!important}
}
.iconbox-center {text-align:center;  margin-right: 5%;  margin-left: 5%; }
.iconbox-aside{ 
  .icon-shape{float:left; top:15px;  }
  .text-wrap{padding: 0 15px; margin-top:0px; overflow: hidden;}
}
.icon-sm{ width:40px;  height:40px;  line-height:40px; font-size:18px; }
.icon-lg{ width:80px;  height:80px;  line-height:80px; font-size:42px; }
.round-corner{border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px;}
.round{border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}

.modal-dialog{margin-top:5%;}

.loader-wrap{
  img{width:70px;}
}

.jq-tab{
  .tab-item{display:none}
  .tab-item.active{display:block}
}

.checkbox {padding-left:30px!important;
  label{padding:0}
  input{z-index: -1;  opacity: 0; position:absolute}
  ins {
      position: absolute;
      top:0px;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      border:1px solid $accent;
      background: #ddd; 
      &:after{
        left: 6px;
        top: 2px;
        width: 6px;
        height: 11px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        content: '';
        position: absolute;
        display: none;
      }
  }
}

mark{background-color:#fff1ab; color:inherit;     border-radius: 5px; padding-left:7px; padding-right:7px;}

.checkbox input:checked + ins {
    background: $accent;
}
.checkbox input:checked:focus + ins {
    background: $accent;
}
.checkbox input:checked + ins:after{
     display: block;
}

.checkbox input:disabled + ins {
    background: #e6e6e6; border-color:#ccc;
    pointer-events: none;
    &:after{border-color:#999}
}

.checkbox-inline{padding:0; margin-right:15px;}

.panel.panel-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.panel-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.panel-nav-tabs .nav-justified{
  margin-bottom: -1px;
}

.link{border-bottom:1px dotted $accent; padding-bottom:2px;
  &:hover{color:$lightblue; border-bottom:1px dotted $lightblue;}
}



.border-grid > [class^='col']{border-bottom:1px dashed #ddd;}
.border-grid > [class^='col']:nth-child(odd){border-right:1px dashed #ddd;}
.border-grid > [class^='col']:hover{box-shadow:0 0 20px rgba(#000, .2); transition:.5s}

.border-left{border-left:1px solid #e8e8e8}
.border-top{border-top:1px solid #e8e8e8}
.border-right{border-right:1px solid #e8e8e8}
/* --------------------- small tag styles ---------------------- */

.small, small{font-size:12px; font-weight:400;}
var{font-style:normal; line-height:normal;}
/* --------------------- default list styles ---------------------- */
.list-inline li{float:left}

.list-default{margin:15px; list-style:none;
	li{ line-height:1.6; }
	ul ul {margin:7px; margin-left:30px;}
  span{color:#9b9b9b}
}

.list-lg{ 
  li{margin-bottom:15px;}
}

.rotate180{transform:rotate(180deg); }
.rotate90{transform:rotate(90deg); }
.rotate45{transform:rotate(45deg); }
.rotate-left{transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg)}
.rotate-right{transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg)}
.flip-h{
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

.fixed{position:fixed}

.form-lg{margin-top:15px;
  .form-group{margin-bottom:20px;}
}

.ui-timepicker-wrapper {width:160px; max-height:250px;
  li{    padding:7px 15px; font-size:16px;}
}
/* --------------------- checked list style ---------------------- */
.list-check{
  list-style: none;
  li{padding-left:25px!important; margin-bottom:4px; position:relative; }
  li:before{
    position:absolute; 
    left:0;
    font-size:14px;
    content: "\f00c"; /* Unicode */
    color:#00c700;
    font-family: "FontAwesome";
    display: inline-block;
  }
}


.list-icon-facility{ 
  li{list-style:none}
  i{font-size:18px; margin-right:5px;  color:$accent}
}

.list-bullet{list-style: none; }
.list-bullet li{ margin-bottom:10px;}
.list-bullet li::before { text-align: center;
	color: #fff; line-height: 22px; 
    content: " ";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 0px;
    background-color:$accent2;
    border-radius: 50%;
    vertical-align: middle;
}

.list-simple{list-style: none; line-height:1.5;  margin-top:7px;}
.list-simple li{ margin-bottom:4px;  padding-left:16px; position:relative;}
.list-simple li::before { text-align: center; position:absolute;
  color: #fff;  top:5px; left:0;
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color:$accent2;
    border-radius: 50%;
    vertical-align: middle;
}

/* --------------------- typography ---------------------- */
.center{margin-left:auto; margin-right:auto;}
.radius{border-radius:$radius}
.text-center, .txt-center{text-align:center}
.border{border:1px solid #ddd;}
.relative{position:relative}
.absolute{position:absolute}
.uppercase{text-transform:uppercase}
.b{font-weight:bold}
.label{ font-weight:normal; margin-right:5px;}
.label-blue{background-color:$lightblue; color:#fff; padding:3px 6px; border-radius:4px; line-height:1.2; display:inline-block}
.label-red{background-color:#FF4343; color:#fff; padding:3px 6px; border-radius:4px; line-height:1.2; display:inline-block}
.label-green{background-color:#40C84F; color:#fff; padding:3px 6px; border-radius:4px; line-height:1.2; display:inline-block}
.label-normal{
    text-shadow:0 1px 0px #fff, 0 1px 1px #fff;
    box-shadow:inset 1px 1px 6px rgba(#333, .15), 0px 1px 2px #fff;
    color:$lightblue;
    border-radius:4px;
    border:1px solid #ddd;
    background-color:#f2f2f2;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
}
.label-grey{padding:3px 6px; display:inline-block; border-radius:4px; line-height:1.2; background-color:#eee; color:$accent;  font-size:12px;}

.lh-lg{line-height:1.5}
.text-lg{font-size:120%;}

.p0{padding:0!important}
.m0{margin:0!important}
.p5{padding:5px;} .p10{padding:10px;} .p15{padding:15px;} .p30{padding:30px;}
.m5{margin:5px;} .m7{margin:7px;} .m10{margin:10px;} .m15{margin:15px;} .m30{margin:30px;}
.mr5{margin-right:5px;}
.mt15{margin-top:15px;}
.ml15{margin-left:15px;}
.pl15{padding-left:15px}
.mb5{margin-bottom:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb30{margin-bottom:30px;}
.p20{padding:20px;}
.min-h-150{min-height:150px}
.min-h-200{min-height:200px}
.min-h-300{min-height:300px}
.min-h-350{min-height:350px}
.min-h-400{min-height:400px}
.min-h-450{min-height:450px}
.min-h-500{min-height:500px}

/* all clearfix */
article:after,
article:before,
.form-group:before,
.form-group:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.panel-body:before,
.panel-body:after,
.blok:before,
.blok:after,
.row-sm:before,
.row-sm:after{
  display: table;
  content: " ";
}
article:after,
.row-sm:after,
.container:after,
.form-group:after,
.panel-body:after,
.blok:after,
.container-fluid:after {
	clear: both;
}
/*  clearfix mini */
.cfx:before, .cfx:after { content:"";  display:table;}
.cfx:after { clear:both;}
.hide {display: none !important;}

.overflow-h{overflow:hidden}
/* --------------------- lists clearfix ---------------------- */
[class*="list-"] li:after {
	visibility: hidden;
	display: block;
	content: "";
	overflow: hidden; 
	height: 0; clear: both;
}
