body{
  /* ================ jquery ui autocomplate ================ */
.ui-autocomplete{box-shadow:0 0 10px rgba(#666, .3); border-radius:4px; overflow:hidden; margin-top:14px; transform:translateY(10px);
  .ui-menu-item { border-bottom: 1px solid #eee; 
    .ui-state-active{
      span{color:#fff!important}
    }
  }
  .ui-menu-item-wrapper {
      position: relative;
      padding:7px 10px;
      span{text-transform:capitalize; padding-right:4px; display:inline-block; vertical-align:top}
      span:not(:first-child){color:#aaa}
      span.hotel-count{float:right; color:$accent}
  }

}
.ui-autocomplete-category{font-size:11px; font-weight:400; text-transform:uppercase; padding:5px 10px; color:$accent; background-color:#eee;
  i{margin-right:7px;}
}


.ui-datepicker-buttonpane{display:none!important} 

/* ================ jquery ui overwrites ================ */
.ui-slider.ui-widget.ui-widget-content{border:none!important; background-color:$element!important}
.ui-slider .ui-widget-header { background:$accent; }
.ui-slider-horizontal {height: .6em;}

.ui-datepicker {z-index:200!important;
  border: 1px solid $primary!important;
  padding:0;
  width: auto!important;
  height: auto;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);

  .ui-corner-right{border-radius:0!important}
  .ui-corner-left{border-radius:0!important}
}

.ui-datepicker-today a{
    background: #ddd!important;
    border-radius: 5px!important; color:#999;
}

#ui-datepicker-div{
  button.ui-datepicker-current { display: none; }
  button.ui-datepicker-close{display:block; margin:7px; float:none; font-weight:normal; background-color:$accent; color:#fff; border:none;}
}
.ui-datepicker table {
  width: 100%!important;
}
.ui-datepicker td {
    padding:2px 2px;
}
.ui-datepicker .ui-datepicker-header {
  background:$primary2;
  color: #eee;
  font-size: 15px;
  font-weight: normal;
  padding:8px;
  border:none
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary{opacity:.3}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;

   margin-right:4px;
  padding:0 5px;
   background-image: url(../images/icons/arrow-down.png);
    background-position: 90% center;
    background-repeat: no-repeat;
}

.ui-datepicker  .ui-widget-header  .ui-state-hover{border:none; background:none}
.ui-datepicker .ui-widget-header .ui-icon {
    background-image: url(../plugins/jqueryui/images/ui-icons_ffffff_256x240.png);
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 7px;
}

.ui-datepicker-multi .ui-datepicker-group table {
    border-right:1px solid #ddd;
    margin:0;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
  span{top:75%}
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  color: #666666;
}



.ui-datepicker td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding:6px 8px;
  margin: 0;
  font-weight: normal;
  color: $primary;
  font-size: 14px;
}
.ui-datepicker td .ui-state-active,
.ui-datepicker td .ui-state-hover {
  background:$accent; color:#fff; border-radius:5px;
}
}