    /*
    Flaticon icon font: Flaticon
    Creation date: 25/03/2017 14:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-multimedia:before { content: "\f100"; }
.flaticon-alarm-clock:before { content: "\f101"; }
.flaticon-video-game-console-with-gamepad:before { content: "\f102"; }
.flaticon-hospital-bed:before { content: "\f103"; }
.flaticon-toiletries:before { content: "\f104"; }
.flaticon-flip-flops:before { content: "\f105"; }
.flaticon-mirror:before { content: "\f106"; }
.flaticon-hotel-coat-check:before { content: "\f107"; }
.flaticon-golfer-in-green:before { content: "\f108"; }
.flaticon-tennis-raquet-and-ball:before { content: "\f109"; }
.flaticon-port-sign:before { content: "\f10a"; }
.flaticon-ski-sticks:before { content: "\f10b"; }
.flaticon-ethernet:before { content: "\f10c"; }
.flaticon-front-of-bus:before { content: "\f10d"; }
.flaticon-bar:before { content: "\f10e"; }
.flaticon-beer:before { content: "\f10f"; }
.flaticon-all-inclusive-with-alcoholic-drinks-top-brands:before { content: "\f110"; }
.flaticon-childhood:before { content: "\f111"; }
.flaticon-leisure:before { content: "\f112"; }
.flaticon-bicycle-storage:before { content: "\f113"; }
.flaticon-comfortable:before { content: "\f114"; }
.flaticon-bathroom:before { content: "\f115"; }
.flaticon-bake:before { content: "\f116"; }
.flaticon-hair-salon:before { content: "\f117"; }
.flaticon-conference:before { content: "\f118"; }
.flaticon-dinner-1:before { content: "\f119"; }
.flaticon-maid:before { content: "\f11a"; }
.flaticon-vacuum-cleaner:before { content: "\f11b"; }
.flaticon-tennis:before { content: "\f11c"; }
.flaticon-couple:before { content: "\f11d"; }
.flaticon-tap:before { content: "\f11e"; }
.flaticon-all-nclusive-with-non-alcoholic-drinks:before { content: "\f11f"; }
.flaticon-toaster:before { content: "\f120"; }
.flaticon-air-conditioning-in-restaurant:before { content: "\f121"; }
.flaticon-bathrobes:before { content: "\f122"; }
.flaticon-shopping-cart-1:before { content: "\f123"; }
.flaticon-ping-pong:before { content: "\f124"; }
.flaticon-clock:before { content: "\f125"; }
.flaticon-house:before { content: "\f126"; }
.flaticon-table-tennis:before { content: "\f127"; }
.flaticon-target:before { content: "\f128"; }
.flaticon-ironing-board:before { content: "\f129"; }
.flaticon-tumble-dryer:before { content: "\f12a"; }
.flaticon-catamaran:before { content: "\f12b"; }
.flaticon-highchair:before { content: "\f12c"; }
.flaticon-animal:before { content: "\f12d"; }
.flaticon-popcorn:before { content: "\f12e"; }
.flaticon-golf-player:before { content: "\f12f"; }
.flaticon-dietary:before { content: "\f130"; }
.flaticon-nurse:before { content: "\f131"; }
.flaticon-aerobics:before { content: "\f132"; }
.flaticon-summer:before { content: "\f133"; }
.flaticon-breakfast-room:before { content: "\f134"; }
.flaticon-babysitting-service:before { content: "\f135"; }
.flaticon-item-free-of-gluten:before { content: "\f136"; }
.flaticon-food:before { content: "\f137"; }
.flaticon-air-conditioning-in-public-areas:before { content: "\f138"; }
.flaticon-toboggan:before { content: "\f139"; }
.flaticon-handball:before { content: "\f13a"; }
.flaticon-waterski:before { content: "\f13b"; }
.flaticon-carpet:before { content: "\f13c"; }
.flaticon-bunk-bed:before { content: "\f13d"; }
.flaticon-tv-table:before { content: "\f13e"; }
.flaticon-jet-ski:before { content: "\f13f"; }
.flaticon-harmony:before { content: "\f140"; }
.flaticon-break-time:before { content: "\f141"; }
.flaticon-people-6:before { content: "\f142"; }
.flaticon-people-5:before { content: "\f143"; }
.flaticon-cup-and-plate:before { content: "\f144"; }
.flaticon-plus-18-movie:before { content: "\f145"; }
.flaticon-people-watching-a-movie:before { content: "\f146"; }
.flaticon-dvd-box:before { content: "\f147"; }
.flaticon-central-heat:before { content: "\f148"; }
.flaticon-banana-boating:before { content: "\f149"; }
.flaticon-big-cot:before { content: "\f14a"; }
.flaticon-hamburger-buffet:before { content: "\f14b"; }
.flaticon-breakfast-menu:before { content: "\f14c"; }
.flaticon-bed-and-breakfast:before { content: "\f14d"; }
.flaticon-healthy-breakfast:before { content: "\f14e"; }
.flaticon-bar-in-pool:before { content: "\f14f"; }
.flaticon-rest-area:before { content: "\f150"; }
.flaticon-city-dock:before { content: "\f151"; }
.flaticon-restaurant-menu:before { content: "\f152"; }
.flaticon-big-hamburger:before { content: "\f153"; }
.flaticon-wifi-access:before { content: "\f154"; }
.flaticon-man-windsurfing:before { content: "\f155"; }
.flaticon-laundry-zone:before { content: "\f156"; }
.flaticon-no-drinking:before { content: "\f157"; }
.flaticon-big-bed-with-one-pillow:before { content: "\f158"; }
.flaticon-bowling-alley:before { content: "\f159"; }
.flaticon-horse-riding:before { content: "\f15a"; }
.flaticon-man-in-canoe:before { content: "\f15b"; }
.flaticon-credit-cards-payment:before { content: "\f15c"; }
.flaticon-newspaper-report:before { content: "\f15d"; }
.flaticon-office-secretary:before { content: "\f15e"; }
.flaticon-public-park:before { content: "\f15f"; }
.flaticon-smoking-area:before { content: "\f160"; }
.flaticon-beach-umbrella:before { content: "\f161"; }
.flaticon-sports-car:before { content: "\f162"; }
.flaticon-skier:before { content: "\f163"; }
.flaticon-no-smoking:before { content: "\f164"; }
.flaticon-forbidden:before { content: "\f165"; }
.flaticon-different-currencies:before { content: "\f166"; }
.flaticon-valet-head:before { content: "\f167"; }
.flaticon-golf-cart:before { content: "\f168"; }
.flaticon-safari-jeep:before { content: "\f169"; }
.flaticon-cup-of-coffee:before { content: "\f16a"; }
.flaticon-working-tools:before { content: "\f16b"; }
.flaticon-no-smoking-sign-1:before { content: "\f16c"; }
.flaticon-christmas-fireplace:before { content: "\f16d"; }
.flaticon-dog:before { content: "\f16e"; }
.flaticon-snacks-sign:before { content: "\f16f"; }
.flaticon-all-inclusive-without-drinks:before { content: "\f170"; }
.flaticon-airport:before { content: "\f171"; }
.flaticon-shopping-cart:before { content: "\f172"; }
.flaticon-bluetooth-speaker:before { content: "\f173"; }
.flaticon-bicycle-hire-service:before { content: "\f174"; }
.flaticon-characters-interface-sign:before { content: "\f175"; }
.flaticon-bowl-in-a-microwave:before { content: "\f176"; }
.flaticon-airport-flight-info-signal:before { content: "\f177"; }
.flaticon-dining-room-cutlery-set-of-three-pieces-in-silhouettes:before { content: "\f178"; }
.flaticon-surfer-surfing-in-a-big-water-wave:before { content: "\f179"; }
.flaticon-man-arriving-to-daily-job:before { content: "\f17a"; }
.flaticon-bathtub:before { content: "\f17b"; }
.flaticon-kitchenette:before { content: "\f17c"; }
.flaticon-flowers-pot-of-yard:before { content: "\f17d"; }
.flaticon-businessman-holding-books:before { content: "\f17e"; }
.flaticon-projector:before { content: "\f17f"; }
.flaticon-banquet-hall:before { content: "\f180"; }
.flaticon-kitchen-utensils:before { content: "\f181"; }
.flaticon-electrical-kettle-tool-side-view:before { content: "\f182"; }
.flaticon-tool:before { content: "\f183"; }
.flaticon-kids-couple:before { content: "\f184"; }
.flaticon-professor-walking-into-the-class:before { content: "\f185"; }
.flaticon-teacher-photocopying-text-material-for-class:before { content: "\f186"; }
.flaticon-hairdresser-with-scissors-cutting-the-hair-to-a-client-sitting-in-front-of-him:before { content: "\f187"; }
.flaticon-american-express:before { content: "\f188"; }
.flaticon-jcb-pay-logo-symbol:before { content: "\f189"; }
.flaticon-maestro-pay-logo:before { content: "\f18a"; }
.flaticon-diners-club-credit-card-logo:before { content: "\f18b"; }
.flaticon-mastercard:before { content: "\f18c"; }
.flaticon-golf-bag-equipment-with-sticks-set:before { content: "\f18d"; }
.flaticon-camping-tent:before { content: "\f18e"; }
.flaticon-golf-flag-and-field:before { content: "\f18f"; }
.flaticon-squash:before { content: "\f190"; }
.flaticon-billiards:before { content: "\f191"; }
.flaticon-plate-fork-and-knife:before { content: "\f192"; }
.flaticon-cable-tv-sign-with-monitor:before { content: "\f193"; }
.flaticon-slide-to-swimming-pool-water:before { content: "\f194"; }
.flaticon-private-swimming-pool-sign:before { content: "\f195"; }
.flaticon-breakfast-buffet:before { content: "\f196"; }
.flaticon-swimming-pool-water-waves-with-ladder:before { content: "\f197"; }
.flaticon-people-4:before { content: "\f198"; }
.flaticon-person-silhouette-in-sauna:before { content: "\f199"; }
.flaticon-gym-dumbbell-black-silhouette:before { content: "\f19a"; }
.flaticon-entertainment-area-symbol-with-abc-cubes-and-house-outline:before { content: "\f19b"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f19c"; }
.flaticon-rest:before { content: "\f19d"; }
.flaticon-coffee-machine:before { content: "\f19e"; }
.flaticon-businessmen-having-a-meeting:before { content: "\f19f"; }
.flaticon-mobile-phone-with-signal-sign:before { content: "\f1a0"; }
.flaticon-burger-and-soda-meal:before { content: "\f1a1"; }
.flaticon-spaghetti:before { content: "\f1a2"; }
.flaticon-bath-tub-with-shower:before { content: "\f1a3"; }
.flaticon-book:before { content: "\f1a4"; }
.flaticon-dropbox-logo:before { content: "\f1a5"; }
.flaticon-screen:before { content: "\f1a6"; }
.flaticon-man-arriving-late:before { content: "\f1a7"; }
.flaticon-barbecue-grill:before { content: "\f1a8"; }
.flaticon-visa-logo:before { content: "\f1a9"; }
.flaticon-bike-with-motor-ios-7-interface-symbol:before { content: "\f1aa"; }
.flaticon-security-safe-box:before { content: "\f1ab"; }
.flaticon-breakfast-1:before { content: "\f1ac"; }
.flaticon-washing:before { content: "\f1ad"; }
.flaticon-airport-shuttle:before { content: "\f1ae"; }
.flaticon-old-telephone-ringing:before { content: "\f1af"; }
.flaticon-no-smoking-sign:before { content: "\f1b0"; }
.flaticon-all-inclusive:before { content: "\f1b1"; }
.flaticon-old-typical-phone:before { content: "\f1b2"; }
.flaticon-printer:before { content: "\f1b3"; }
.flaticon-party-dj:before { content: "\f1b4"; }
.flaticon-man-in-office-desk-with-computer:before { content: "\f1b5"; }
.flaticon-all-inclusive-with-alcoholic-drinks-own-brands:before { content: "\f1b6"; }
.flaticon-diver:before { content: "\f1b7"; }
.flaticon-golfer:before { content: "\f1b8"; }
.flaticon-people-3:before { content: "\f1b9"; }
.flaticon-basketball:before { content: "\f1ba"; }
.flaticon-breakfast-and-lunch:before { content: "\f1bb"; }
.flaticon-ball:before { content: "\f1bc"; }
.flaticon-people-2:before { content: "\f1bd"; }
.flaticon-climb:before { content: "\f1be"; }
.flaticon-snowboarding:before { content: "\f1bf"; }
.flaticon-elevator-with-two-men-sign:before { content: "\f1c0"; }
.flaticon-dumbbell-for-training:before { content: "\f1c1"; }
.flaticon-hamburguer-drink-with-straw:before { content: "\f1c2"; }
.flaticon-swimming-man:before { content: "\f1c3"; }
.flaticon-subway-sign:before { content: "\f1c4"; }
.flaticon-relaxing-massage:before { content: "\f1c5"; }
.flaticon-slot-machine-silhouette:before { content: "\f1c6"; }
.flaticon-wheelchair-accessibility-sing:before { content: "\f1c7"; }
.flaticon-cottage:before { content: "\f1c8"; }
.flaticon-forest-cabin:before { content: "\f1c9"; }
.flaticon-skiing-stickman:before { content: "\f1ca"; }
.flaticon-car-repair-1:before { content: "\f1cb"; }
.flaticon-car-and-parking-sign:before { content: "\f1cc"; }
.flaticon-balcony:before { content: "\f1cd"; }
.flaticon-dinner:before { content: "\f1ce"; }
.flaticon-car-repair:before { content: "\f1cf"; }
.flaticon-breakfast-and-dinner:before { content: "\f1d0"; }
.flaticon-24-hour-reception:before { content: "\f1d1"; }
.flaticon-poolside-snack-bar:before { content: "\f1d2"; }
.flaticon-music:before { content: "\f1d3"; }
.flaticon-fax:before { content: "\f1d4"; }
.flaticon-solar-panel:before { content: "\f1d5"; }
.flaticon-background-music:before { content: "\f1d6"; }
.flaticon-departures:before { content: "\f1d7"; }
.flaticon-city:before { content: "\f1d8"; }
.flaticon-badminton:before { content: "\f1d9"; }
.flaticon-weightlifting:before { content: "\f1da"; }
.flaticon-bath:before { content: "\f1db"; }
.flaticon-room-service:before { content: "\f1dc"; }
.flaticon-audio-visual-equipment-rental:before { content: "\f1dd"; }
.flaticon-toilet:before { content: "\f1de"; }
.flaticon-people-1:before { content: "\f1df"; }
.flaticon-beauty-salon:before { content: "\f1e0"; }
.flaticon-ship:before { content: "\f1e1"; }
.flaticon-television:before { content: "\f1e2"; }
.flaticon-fan:before { content: "\f1e3"; }
.flaticon-bbq-facilities:before { content: "\f1e4"; }
.flaticon-wifi-1:before { content: "\f1e5"; }
.flaticon-meeting-room:before { content: "\f1e6"; }
.flaticon-children:before { content: "\f1e7"; }
.flaticon-swimming-pool:before { content: "\f1e8"; }
.flaticon-terrace-1:before { content: "\f1e9"; }
.flaticon-terrace:before { content: "\f1ea"; }
.flaticon-compact-disc:before { content: "\f1eb"; }
.flaticon-dishwasher:before { content: "\f1ec"; }
.flaticon-living-room:before { content: "\f1ed"; }
.flaticon-beach-volleyball:before { content: "\f1ee"; }
.flaticon-hurry:before { content: "\f1ef"; }
.flaticon-beach:before { content: "\f1f0"; }
.flaticon-a-la-carte-lunch:before { content: "\f1f1"; }
.flaticon-breakfast:before { content: "\f1f2"; }
.flaticon-bikes-available:before { content: "\f1f3"; }
.flaticon-marriage-certification:before { content: "\f1f4"; }
.flaticon-wifi:before { content: "\f1f5"; }
.flaticon-agreement:before { content: "\f1f6"; }
.flaticon-archery:before { content: "\f1f7"; }
.flaticon-coin:before { content: "\f1f8"; }
.flaticon-game:before { content: "\f1f9"; }
.flaticon-mother-with-son-silhouettes:before { content: "\f1fa"; }
.flaticon-claw-bath-in-spa:before { content: "\f1fb"; }
.flaticon-parking:before { content: "\f1fc"; }
.flaticon-people:before { content: "\f1fd"; }
.flaticon-dollar-bill-paper-in-an-envelope-to-make-a-deposit-in-a-bank:before { content: "\f1fe"; }
    
    $font-Flaticon-multimedia: "\f100";
    $font-Flaticon-alarm-clock: "\f101";
    $font-Flaticon-video-game-console-with-gamepad: "\f102";
    $font-Flaticon-hospital-bed: "\f103";
    $font-Flaticon-toiletries: "\f104";
    $font-Flaticon-flip-flops: "\f105";
    $font-Flaticon-mirror: "\f106";
    $font-Flaticon-hotel-coat-check: "\f107";
    $font-Flaticon-golfer-in-green: "\f108";
    $font-Flaticon-tennis-raquet-and-ball: "\f109";
    $font-Flaticon-port-sign: "\f10a";
    $font-Flaticon-ski-sticks: "\f10b";
    $font-Flaticon-ethernet: "\f10c";
    $font-Flaticon-front-of-bus: "\f10d";
    $font-Flaticon-bar: "\f10e";
    $font-Flaticon-beer: "\f10f";
    $font-Flaticon-all-inclusive-with-alcoholic-drinks-top-brands: "\f110";
    $font-Flaticon-childhood: "\f111";
    $font-Flaticon-leisure: "\f112";
    $font-Flaticon-bicycle-storage: "\f113";
    $font-Flaticon-comfortable: "\f114";
    $font-Flaticon-bathroom: "\f115";
    $font-Flaticon-bake: "\f116";
    $font-Flaticon-hair-salon: "\f117";
    $font-Flaticon-conference: "\f118";
    $font-Flaticon-dinner-1: "\f119";
    $font-Flaticon-maid: "\f11a";
    $font-Flaticon-vacuum-cleaner: "\f11b";
    $font-Flaticon-tennis: "\f11c";
    $font-Flaticon-couple: "\f11d";
    $font-Flaticon-tap: "\f11e";
    $font-Flaticon-all-nclusive-with-non-alcoholic-drinks: "\f11f";
    $font-Flaticon-toaster: "\f120";
    $font-Flaticon-air-conditioning-in-restaurant: "\f121";
    $font-Flaticon-bathrobes: "\f122";
    $font-Flaticon-shopping-cart-1: "\f123";
    $font-Flaticon-ping-pong: "\f124";
    $font-Flaticon-clock: "\f125";
    $font-Flaticon-house: "\f126";
    $font-Flaticon-table-tennis: "\f127";
    $font-Flaticon-target: "\f128";
    $font-Flaticon-ironing-board: "\f129";
    $font-Flaticon-tumble-dryer: "\f12a";
    $font-Flaticon-catamaran: "\f12b";
    $font-Flaticon-highchair: "\f12c";
    $font-Flaticon-animal: "\f12d";
    $font-Flaticon-popcorn: "\f12e";
    $font-Flaticon-golf-player: "\f12f";
    $font-Flaticon-dietary: "\f130";
    $font-Flaticon-nurse: "\f131";
    $font-Flaticon-aerobics: "\f132";
    $font-Flaticon-summer: "\f133";
    $font-Flaticon-breakfast-room: "\f134";
    $font-Flaticon-babysitting-service: "\f135";
    $font-Flaticon-item-free-of-gluten: "\f136";
    $font-Flaticon-food: "\f137";
    $font-Flaticon-air-conditioning-in-public-areas: "\f138";
    $font-Flaticon-toboggan: "\f139";
    $font-Flaticon-handball: "\f13a";
    $font-Flaticon-waterski: "\f13b";
    $font-Flaticon-carpet: "\f13c";
    $font-Flaticon-bunk-bed: "\f13d";
    $font-Flaticon-tv-table: "\f13e";
    $font-Flaticon-jet-ski: "\f13f";
    $font-Flaticon-harmony: "\f140";
    $font-Flaticon-break-time: "\f141";
    $font-Flaticon-people-6: "\f142";
    $font-Flaticon-people-5: "\f143";
    $font-Flaticon-cup-and-plate: "\f144";
    $font-Flaticon-plus-18-movie: "\f145";
    $font-Flaticon-people-watching-a-movie: "\f146";
    $font-Flaticon-dvd-box: "\f147";
    $font-Flaticon-central-heat: "\f148";
    $font-Flaticon-banana-boating: "\f149";
    $font-Flaticon-big-cot: "\f14a";
    $font-Flaticon-hamburger-buffet: "\f14b";
    $font-Flaticon-breakfast-menu: "\f14c";
    $font-Flaticon-bed-and-breakfast: "\f14d";
    $font-Flaticon-healthy-breakfast: "\f14e";
    $font-Flaticon-bar-in-pool: "\f14f";
    $font-Flaticon-rest-area: "\f150";
    $font-Flaticon-city-dock: "\f151";
    $font-Flaticon-restaurant-menu: "\f152";
    $font-Flaticon-big-hamburger: "\f153";
    $font-Flaticon-wifi-access: "\f154";
    $font-Flaticon-man-windsurfing: "\f155";
    $font-Flaticon-laundry-zone: "\f156";
    $font-Flaticon-no-drinking: "\f157";
    $font-Flaticon-big-bed-with-one-pillow: "\f158";
    $font-Flaticon-bowling-alley: "\f159";
    $font-Flaticon-horse-riding: "\f15a";
    $font-Flaticon-man-in-canoe: "\f15b";
    $font-Flaticon-credit-cards-payment: "\f15c";
    $font-Flaticon-newspaper-report: "\f15d";
    $font-Flaticon-office-secretary: "\f15e";
    $font-Flaticon-public-park: "\f15f";
    $font-Flaticon-smoking-area: "\f160";
    $font-Flaticon-beach-umbrella: "\f161";
    $font-Flaticon-sports-car: "\f162";
    $font-Flaticon-skier: "\f163";
    $font-Flaticon-no-smoking: "\f164";
    $font-Flaticon-forbidden: "\f165";
    $font-Flaticon-different-currencies: "\f166";
    $font-Flaticon-valet-head: "\f167";
    $font-Flaticon-golf-cart: "\f168";
    $font-Flaticon-safari-jeep: "\f169";
    $font-Flaticon-cup-of-coffee: "\f16a";
    $font-Flaticon-working-tools: "\f16b";
    $font-Flaticon-no-smoking-sign-1: "\f16c";
    $font-Flaticon-christmas-fireplace: "\f16d";
    $font-Flaticon-dog: "\f16e";
    $font-Flaticon-snacks-sign: "\f16f";
    $font-Flaticon-all-inclusive-without-drinks: "\f170";
    $font-Flaticon-airport: "\f171";
    $font-Flaticon-shopping-cart: "\f172";
    $font-Flaticon-bluetooth-speaker: "\f173";
    $font-Flaticon-bicycle-hire-service: "\f174";
    $font-Flaticon-characters-interface-sign: "\f175";
    $font-Flaticon-bowl-in-a-microwave: "\f176";
    $font-Flaticon-airport-flight-info-signal: "\f177";
    $font-Flaticon-dining-room-cutlery-set-of-three-pieces-in-silhouettes: "\f178";
    $font-Flaticon-surfer-surfing-in-a-big-water-wave: "\f179";
    $font-Flaticon-man-arriving-to-daily-job: "\f17a";
    $font-Flaticon-bathtub: "\f17b";
    $font-Flaticon-kitchenette: "\f17c";
    $font-Flaticon-flowers-pot-of-yard: "\f17d";
    $font-Flaticon-businessman-holding-books: "\f17e";
    $font-Flaticon-projector: "\f17f";
    $font-Flaticon-banquet-hall: "\f180";
    $font-Flaticon-kitchen-utensils: "\f181";
    $font-Flaticon-electrical-kettle-tool-side-view: "\f182";
    $font-Flaticon-tool: "\f183";
    $font-Flaticon-kids-couple: "\f184";
    $font-Flaticon-professor-walking-into-the-class: "\f185";
    $font-Flaticon-teacher-photocopying-text-material-for-class: "\f186";
    $font-Flaticon-hairdresser-with-scissors-cutting-the-hair-to-a-client-sitting-in-front-of-him: "\f187";
    $font-Flaticon-american-express: "\f188";
    $font-Flaticon-jcb-pay-logo-symbol: "\f189";
    $font-Flaticon-maestro-pay-logo: "\f18a";
    $font-Flaticon-diners-club-credit-card-logo: "\f18b";
    $font-Flaticon-mastercard: "\f18c";
    $font-Flaticon-golf-bag-equipment-with-sticks-set: "\f18d";
    $font-Flaticon-camping-tent: "\f18e";
    $font-Flaticon-golf-flag-and-field: "\f18f";
    $font-Flaticon-squash: "\f190";
    $font-Flaticon-billiards: "\f191";
    $font-Flaticon-plate-fork-and-knife: "\f192";
    $font-Flaticon-cable-tv-sign-with-monitor: "\f193";
    $font-Flaticon-slide-to-swimming-pool-water: "\f194";
    $font-Flaticon-private-swimming-pool-sign: "\f195";
    $font-Flaticon-breakfast-buffet: "\f196";
    $font-Flaticon-swimming-pool-water-waves-with-ladder: "\f197";
    $font-Flaticon-people-4: "\f198";
    $font-Flaticon-person-silhouette-in-sauna: "\f199";
    $font-Flaticon-gym-dumbbell-black-silhouette: "\f19a";
    $font-Flaticon-entertainment-area-symbol-with-abc-cubes-and-house-outline: "\f19b";
    $font-Flaticon-calendar-with-a-clock-time-tools: "\f19c";
    $font-Flaticon-rest: "\f19d";
    $font-Flaticon-coffee-machine: "\f19e";
    $font-Flaticon-businessmen-having-a-meeting: "\f19f";
    $font-Flaticon-mobile-phone-with-signal-sign: "\f1a0";
    $font-Flaticon-burger-and-soda-meal: "\f1a1";
    $font-Flaticon-spaghetti: "\f1a2";
    $font-Flaticon-bath-tub-with-shower: "\f1a3";
    $font-Flaticon-book: "\f1a4";
    $font-Flaticon-dropbox-logo: "\f1a5";
    $font-Flaticon-screen: "\f1a6";
    $font-Flaticon-man-arriving-late: "\f1a7";
    $font-Flaticon-barbecue-grill: "\f1a8";
    $font-Flaticon-visa-logo: "\f1a9";
    $font-Flaticon-bike-with-motor-ios-7-interface-symbol: "\f1aa";
    $font-Flaticon-security-safe-box: "\f1ab";
    $font-Flaticon-breakfast-1: "\f1ac";
    $font-Flaticon-washing: "\f1ad";
    $font-Flaticon-airport-shuttle: "\f1ae";
    $font-Flaticon-old-telephone-ringing: "\f1af";
    $font-Flaticon-no-smoking-sign: "\f1b0";
    $font-Flaticon-all-inclusive: "\f1b1";
    $font-Flaticon-old-typical-phone: "\f1b2";
    $font-Flaticon-printer: "\f1b3";
    $font-Flaticon-party-dj: "\f1b4";
    $font-Flaticon-man-in-office-desk-with-computer: "\f1b5";
    $font-Flaticon-all-inclusive-with-alcoholic-drinks-own-brands: "\f1b6";
    $font-Flaticon-diver: "\f1b7";
    $font-Flaticon-golfer: "\f1b8";
    $font-Flaticon-people-3: "\f1b9";
    $font-Flaticon-basketball: "\f1ba";
    $font-Flaticon-breakfast-and-lunch: "\f1bb";
    $font-Flaticon-ball: "\f1bc";
    $font-Flaticon-people-2: "\f1bd";
    $font-Flaticon-climb: "\f1be";
    $font-Flaticon-snowboarding: "\f1bf";
    $font-Flaticon-elevator-with-two-men-sign: "\f1c0";
    $font-Flaticon-dumbbell-for-training: "\f1c1";
    $font-Flaticon-hamburguer-drink-with-straw: "\f1c2";
    $font-Flaticon-swimming-man: "\f1c3";
    $font-Flaticon-subway-sign: "\f1c4";
    $font-Flaticon-relaxing-massage: "\f1c5";
    $font-Flaticon-slot-machine-silhouette: "\f1c6";
    $font-Flaticon-wheelchair-accessibility-sing: "\f1c7";
    $font-Flaticon-cottage: "\f1c8";
    $font-Flaticon-forest-cabin: "\f1c9";
    $font-Flaticon-skiing-stickman: "\f1ca";
    $font-Flaticon-car-repair-1: "\f1cb";
    $font-Flaticon-car-and-parking-sign: "\f1cc";
    $font-Flaticon-balcony: "\f1cd";
    $font-Flaticon-dinner: "\f1ce";
    $font-Flaticon-car-repair: "\f1cf";
    $font-Flaticon-breakfast-and-dinner: "\f1d0";
    $font-Flaticon-24-hour-reception: "\f1d1";
    $font-Flaticon-poolside-snack-bar: "\f1d2";
    $font-Flaticon-music: "\f1d3";
    $font-Flaticon-fax: "\f1d4";
    $font-Flaticon-solar-panel: "\f1d5";
    $font-Flaticon-background-music: "\f1d6";
    $font-Flaticon-departures: "\f1d7";
    $font-Flaticon-city: "\f1d8";
    $font-Flaticon-badminton: "\f1d9";
    $font-Flaticon-weightlifting: "\f1da";
    $font-Flaticon-bath: "\f1db";
    $font-Flaticon-room-service: "\f1dc";
    $font-Flaticon-audio-visual-equipment-rental: "\f1dd";
    $font-Flaticon-toilet: "\f1de";
    $font-Flaticon-people-1: "\f1df";
    $font-Flaticon-beauty-salon: "\f1e0";
    $font-Flaticon-ship: "\f1e1";
    $font-Flaticon-television: "\f1e2";
    $font-Flaticon-fan: "\f1e3";
    $font-Flaticon-bbq-facilities: "\f1e4";
    $font-Flaticon-wifi-1: "\f1e5";
    $font-Flaticon-meeting-room: "\f1e6";
    $font-Flaticon-children: "\f1e7";
    $font-Flaticon-swimming-pool: "\f1e8";
    $font-Flaticon-terrace-1: "\f1e9";
    $font-Flaticon-terrace: "\f1ea";
    $font-Flaticon-compact-disc: "\f1eb";
    $font-Flaticon-dishwasher: "\f1ec";
    $font-Flaticon-living-room: "\f1ed";
    $font-Flaticon-beach-volleyball: "\f1ee";
    $font-Flaticon-hurry: "\f1ef";
    $font-Flaticon-beach: "\f1f0";
    $font-Flaticon-a-la-carte-lunch: "\f1f1";
    $font-Flaticon-breakfast: "\f1f2";
    $font-Flaticon-bikes-available: "\f1f3";
    $font-Flaticon-marriage-certification: "\f1f4";
    $font-Flaticon-wifi: "\f1f5";
    $font-Flaticon-agreement: "\f1f6";
    $font-Flaticon-archery: "\f1f7";
    $font-Flaticon-coin: "\f1f8";
    $font-Flaticon-game: "\f1f9";
    $font-Flaticon-mother-with-son-silhouettes: "\f1fa";
    $font-Flaticon-claw-bath-in-spa: "\f1fb";
    $font-Flaticon-parking: "\f1fc";
    $font-Flaticon-people: "\f1fd";
    $font-Flaticon-dollar-bill-paper-in-an-envelope-to-make-a-deposit-in-a-bank: "\f1fe";